<div class="background-search" style="
    background-image: url('./assets/media/images/recommendation_bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    height: 184px;
"></div>
<div class="mx-15 mt-n50">
    <div class="input-search mb-5">
        <div class="input-group" (click)="$event.stopPropagation()">
            <!-- [ngbTypeahead]="search"  (focus)="setKeyword(keyword)" -->
            <input type="text" class="form-control" placeholder="Cari di PAKAR..." aria-label="Cari di PAKAR..."
                aria-describedby="basic-addon2" maxlength="2048" [(ngModel)]="keyword" (keyup.enter)="search()"
                #inputSearch>
            <div class="form-control-clear btn btn-icon btn-clean" *ngIf="keyword" (click)="keyword='';">
                <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Close.svg'" cacheSVG="true"
                    class="hidden svg-icon mr-1 ml-1"></span>
            </div>
            <div class="input-separator"></div>
            <button class="btn btn-outline-secondary btn-success" type="button" (click)="search()">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="mb-10 back-panel">
        <a (click)="back()" class="cursor-pointer">
            <i class="fas fa-angle-left mr-2"></i> Kembali ke Halaman Utama PAKAR
        </a>
    </div>
    <div class="card card-custom p-10" style="overflow-x: hidden;">
        <div>
            <div class="font-weight-bolder text-dark font-size-xl my-2">Rekomendasi Untuk Kamu</div>
            <div class="font-weight-base font-size-lg mb-7">Informasi PAKAR yang direkomendasikan sesuai <i>jobdesk</i>
                Kamu</div>
        </div>

        <div class="pr-0">
            <div class="row m-0 p-0">
                <div class="col-lg-6 col-xxl-4" *ngFor="let item of dataList">
                    <div class="card-article mr-7 mb-7 rounded-lg cursor-pointer"
                        onmouseover="this.style.border ='1px groove #1995D1';"
                        onmouseout="this.style.border ='1px solid #DDD';">
                        <!-- <div class="row"> -->
                        <div class="p-0">
                            <img class="img-show" src="{{backend_img}}/articles/{{item.img}}" width="100%"
                                height="112px" style="background-position:center;">
                        </div>
                        <div class="p-4">
                            <div class="mb-2">
                                <span class="font-size-sm">{{item.created_date | date: "dd MMMM yyyy"}}</span>
                            </div>
                            <div class="mb-2">
                                <a class="text-dark text-ellipsis-2 font-weight-bolder font-size-h7" href="#"
                                    routerLink="/article/recommendation">{{item.title | maxLength: 70}}</a>
                            </div>
                            <p class="text-ellipsis-2 mb-10">
                                {{item.desc | maxLength: 90}}
                            </p>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center flex-wrap mt-5">
                <div class="d-flex flex-wrap py-2 mr-3">
                    <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1"><i
                            class="ki ki-bold-double-arrow-back icon-xs"></i></a>
                    <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2"><i
                            class="ki ki-bold-arrow-back icon-xs"></i></a>

                    <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">...</a>
                    <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">23</a>
                    <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary active mr-2 my-1">24</a>
                    <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">25</a>
                    <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">26</a>
                    <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">27</a>
                    <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">28</a>
                    <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">...</a>

                    <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1"><i
                            class="ki ki-bold-arrow-next icon-xs"></i></a>
                    <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1"><i
                            class="ki ki-bold-double-arrow-next icon-xs"></i></a>
                </div>
            </div>


        </div>
    </div>

</div>