<div class="card-notif card-notif-head d-flex flex-row justify-content-between">
  <span class="fs20 fb6">Notification</span>
  <a *ngIf="dataList.length" routerLink="/homepage">
    <b>Tandai semua dibaca</b>
  </a>
</div>
<div class="card-notif card-notif-body">
  <ng-container *ngIf="dataList.length; else emptyData">
    <div *ngFor="let item of dataList" class="row-item mb-2">
      <div class="r-info mb-2">
        <span [inlineSVG]="'./assets/media/svg/bca/icon/'+getIcon(item)" cacheSVG="true" class="svg notif-img"></span>
        <span>{{item.type}}</span>
        <span [inlineSVG]="'./assets/media/svg/bca/icon/notif-dot.svg'" cacheSVG="true" class="svg notif-dot"></span>
        <span>{{item.date | date:'dd/MM/yyyy'}}</span>
      </div>
      <div class="r-title fs18 fb6 mb-2">
        <span>{{item.title}}</span>
        <span *ngIf="item.by"> - {{item.by}}</span>
      </div>
      <div class="r-desc fs14 fb4 mb-2">{{item.desc}}</div>
    </div>
  </ng-container>
</div>
<div class="card-notif card-notif-footer" *ngIf="dataList.length">
  <a routerLink="user/notification" ngbDropdownItem><b>Lihat Selengkapnya</b></a>
</div>

<ng-template #emptyData>
  <div>
    <span [inlineSVG]="'./assets/media/svg/bca/icon/notification-empty.svg'" cacheSVG="true" class="svg"></span>
  </div>
</ng-template>