
    <div class="py-7">
        <div class="row m-0">
            <div class="col px-0 py-2">
                <h3 class="card-title align-items-start flex-column">
                    <span class="font-weight-bolder text-dark">Ketentuan Popular</span>
                </h3>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">
                    Ketentuan yang paling sering dibaca di PAKAR</span>
                    
                    <div class="card-title align-self-end flex-column">
                        <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
                            Lihat semua >
                        </span>
                    </div>
            </div>
            <div class="col px-5 py-7 rounded-sm mr-5 mb-7" style="border: 1px solid #DDD;">
                <div class="example-button-row">
                    <div class="card-title align-self-end flex-column">
                        <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
                            Ketentuan Pembukaan Rekening Tahapan >
                        </span>
                    </div>
                    <div class="card-title align-self-end flex-column">
                        <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
                            Ketentuan Umum Pemberian Kredit Komersial  >
                        </span>
                    </div>
                    <div class="card-title align-self-end flex-column">
                        <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
                            Ketentuan Penutupan Rekening Tahapan >
                        </span>
                    </div>
                    <div class="card-title align-self-end flex-column">
                        <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
                            Ketentuan Pengajuan Time Loan - SME >
                        </span>
                    </div>
                    <div class="card-title align-self-end flex-column" >
                        <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
                            Ketentuan Penawaran , Analisis dan Keputusan Pemberian Kartu Kredit Selected ... >
                        </span>
                    </div>
                    <!-- <div >
                        <button mat-button color="primary" (onClick)="buttonPopular($event)" label="lblKetentuanPopular" value=1></button>
                    </div>
                    <div>
                        <button mat-button (onClick)="buttonPopular($event)" value=2></button>
                    </div>
                    <div>
                        <button mat-button (onClick)="buttonPopular($event)" value=3></button>
                    </div>
                    <div>
                        <button mat-button (onClick)="buttonPopular($event)" value=4></button>
                    </div>
                    <div>
                        <button mat-button (onClick)="buttonPopular($event)" value=6></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

