<div class="card card-custom" style="margin-top: 20px;">
        
    <div class="card-header border-0 py-5">
        <div class="row m-0">
            <div class="col px-0 py-2">
                <h3 class="card-title align-items-start flex-column">
                    <span class="font-weight-bolder text-dark">Ketentuan Popular</span>
                </h3>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">
                    Ketentuan yang paling sering dibaca di PAKAR</span>
                    
                <div class="col px-0 py-7">
                    <button mat-button>Lihat Semua ></button>
                </div>
            </div>
            <div class="col px-5 py-7 rounded-sm mr-5 mb-7" style="border: 1px solid #DDD;">
                <div class="example-button-row">
                    <div >
                        <button mat-button color="primary" (onClick)="buttonPopular($event)" label="lblKetentuanPopular" value=1>Ketentuan Pembukaan Rekening Tahapan ></button>
                    </div>
                    <div>
                        <button mat-button (onClick)="buttonPopular($event)" value=2>Ketentuan Umum Pemberian Kredit Komersial  ></button>
                    </div>
                    <div>
                        <button mat-button (onClick)="buttonPopular($event)" value=3>Ketentuan Penutupan Rekening Tahapan ></button>
                    </div>
                    <div>
                        <button mat-button (onClick)="buttonPopular($event)" value=4>Ketentuan Pengajuan Time Loan - SME ></button>
                    </div>
                    <div>
                        <button mat-button (onClick)="buttonPopular($event)" value=6>Ketentuan Penawaran , Analisis dan Keputusan Pemberian Kartu Kredit Selected ... ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
