<div class="row m-0 py-20">
    <div class="col-lg-4 col-xxl-4 px-0 py-2">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Ketentuan Popular</span>
        </h3>
        <span class="text-muted mt-3 font-weight-bold font-size-sm">
            Ketentuan yang paling sering dibaca di PAKAR</span>
        <div class="card-title align-self-end flex-column">
            <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
                Lihat semua >
            </span>
        </div>
    </div>
    <div class="col-lg-8 col-xxl-8 rounded-sm p-0" style="border: 1px solid #DDD; background-color: white;">
        <ul class="navi navi-hover">
            <li class="navi-item">
                <a routerLink="/homepage" class="navi-link cursor-pointer">
                    <span class="navi-text">Ketentuan Pembukaan Rekening Tahapan</span>
                    <b class="menu-arrow"></b>
                </a>
            </li>
            <li class="navi-item">
                <a routerLink="/homepage" class="navi-link cursor-pointer">
                    <span class="navi-text">Ketentuan Umum Pemberian Kredit Komersial</span>
                    <b class="menu-arrow"></b>
                </a>
            </li>
            <li class="navi-item">
                <a routerLink="/homepage" class="navi-link cursor-pointer">
                    <span class="navi-text">Ketentuan Penutupan Rekening Tahapan</span>
                    <b class="menu-arrow"></b>
                </a>
            </li>
            <li class="navi-item">
                <a routerLink="/homepage" class="navi-link cursor-pointer">
                    <span class="navi-text">Ketentuan Pengajuan Time Loan - SME</span>
                    <b class="menu-arrow"></b>
                </a>
            </li>
            <li class="navi-item">
                <a routerLink="/homepage" class="navi-link cursor-pointer">
                    <span class="navi-text">Ketentuan Penawaran , Analisis dan Keputusan Pemberian Kartu Kredit Selected ...</span>
                    <b class="menu-arrow"></b>
                </a>
            </li>
        </ul>
        <!-- <div class="example-button-row">
            <div class="card-title align-self-end flex-column">
                <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
                    Ketentuan Pengajuan Time Loan - SME >
                </span>
            </div>
            <div class="card-title align-self-end flex-column">
                <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
                    Ketentuan Penawaran , Analisis dan Keputusan Pemberian Kartu Kredit Selected ... >
                </span>
            </div>
        </div> -->
    </div>
</div>