<div class="detail-header d-flex flex-row justify-content-between" *ngIf="section.id; else emptyData">
    <span>{{section.title}} </span>
    <div class="node-buttons">
        <div class="btn btn-sm btn-clean btn-my"><i class="fas fa-plus-circle"></i></div>
        <div class="btn btn-sm btn-clean btn-my" (click)="editSection()"><i class="fas fa-pen"></i></div>
        <div class="btn btn-sm btn-clean btn-my" (click)="deleteSection()"><i class="far fa-trash-alt"></i></div>
    </div>
</div>
<div id="struktur-tree" class="tree-demo" style="width: 420px;"></div>


<ng-template #emptyData>
    <div class="">
        <div>Silahkan Pilih Kategori Menu</div>
    </div>
</ng-template>