:host .top-bar {
  position: absolute;
  top: 50px;
  height: 48px;
  background: #F3F2F1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  width: 100vw;
}

:host ::ng-deep .accordion {
  .btn i.flaticon2-down {
    color: #0F5EA9 !important;
  }

  .btn.collapsed i.flaticon2-down {
    transition: inherit;
    transform: rotate(-90deg);
    height: 7px;
    width: 7px;
  }
}
