<div class="top-bar">
    Batal - Komentar - Preview - Simpan - Simpan & Kirim
</div>
<div class="pakar-container mx-15 p-8" style="padding-top:calc(2rem + 50px) !important">
    <span class="pakar-text-header">Tambah Artikel</span>
    <form>
        <div class="form-group">
            <label>Judul Artikel *</label>
            <input class="form-control">
        </div>
        <div class="form-group">
            <label>Lokasi Artikel *</label>
            <select class="form-control">
                <option value="0">-- Silahkan Pilih --</option>
            </select>
        </div>
        <div class="form-group">
            <label>Deskripsi Singkat *</label>
            <ckeditor [editor]="editor" [config]="config" tagName="textarea"></ckeditor>
        </div>
        <div class="form-group">
            <label>Gambar Artikel *</label>
            <input type="file" class="form-control">
        </div>
        <div class="form-group">
            <label>View Artikel *</label>
            <input type="url" class="form-control">
        </div>
        <div class="form-group">
            <label>Content Artikel *</label>
            <div class="border border-light rounded-sm p-3">
                <div class="border border-light rounded-sm p-2 mb-3">Ketentuan Tahapan <span>info</span></div>
                <div class="border border-light rounded-sm p-2 mb-3">Prosedure Tahapan <span>info</span></div>
                <div class="border border-light rounded-sm p-2 mb-3">Formulir Tahapan <span>info</span></div>

                <ngb-accordion #a="ngbAccordion" class="accordion-toggle-arrow">
                    <ngb-panel cardClass="border border-light rounded-sm p-2 mb-3">
                        <ng-template ngbPanelHeader let-opened="opened">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <button ngbPanelToggle class="btn btn-xs btn-clean">Toggle first</button>
                                    <span>First panel - {{ opened ? 'opened' : 'collapsed' }}</span>
                                </div>
                                <div>
                                    Plus Edit Delete
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia
                            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            Brunch 3 wolf moon tempor,
                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                            anim keffiyeh helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard of them accusamus
                            labore sustainable VHS.
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelHeader>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 class="m-0">Second panel</h5>
                                <div>
                                    <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Toggle
                                        second</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary ml-2">
                                        able third
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger ml-2"
                                        (click)="a.collapseAll()">Collapse all</button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia
                            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            Brunch 3 wolf moon tempor,
                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                            anim keffiyeh helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard of them accusamus
                            labore sustainable VHS.
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelHeader>
                            <div class="card-title">
                                <div>
                                    <button ngbPanelToggle class="btn btn-link"><i class="flaticon2-next icon-xs "></i></button>
                                    <span>Formulir Tahapan</span> <span>info</span>
                                </div>
                                <div>
                                    Plus Edit Delete
                                </div>
                            </div>
                            <!-- <div class="d-flex align-items-center justify-content-between">
                                <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Third
                                    panel</button>
                                <p *ngIf="disabled" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia
                            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            Brunch 3 wolf moon tempor,
                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                            anim keffiyeh helvetica,
                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard of them accusamus
                            labore sustainable VHS.
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </form>
</div>

<ng-template #accordionItem>
    <ngb-panel cardClass="border border-light rounded-sm p-3">
        <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
                <span>Ketentuan Tahapan</span>
                <button ngbPanelToggle class="btn btn-link p-0">Toggle first</button>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
            squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
            anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
            butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
            heard of them accusamus
            labore sustainable VHS.
        </ng-template>
    </ngb-panel>
</ng-template>