<ng-container *ngIf="!isPreview; else preview">
    <div class="top-bar d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-center">
            <a href="#" class="link text-dark d-flex flex-row" (click)="onCancel($event)">
                <div [inlineSVG]="'./assets/media/svg/bca/icon/cancel.svg'" cacheSVG="true" class="svg-icon"></div>
                <div>Batal</div>
            </a>
            <ng-container *ngIf="isEdit">
                <div class="separator"></div>
                <a href="#" class="link text-dark d-flex flex-row flex-center" (click)="onVersionHistory($event)">
                    <div [inlineSVG]="'./assets/media/svg/bca/icon/version-history.svg'" cacheSVG="true"
                        class="svg-icon"></div>
                    <div>Riwayat Versi</div>
                </a>
            </ng-container>
            <div class="separator"></div>
            <a class="link text-dark d-flex flex-row">
                <div [inlineSVG]="'./assets/media/svg/bca/icon/comment.svg'" cacheSVG="true" class="svg-icon"></div>
                <div>Komentar</div>
            </a>
        </div>
        <div class="d-flex flex-row align-items-center">
            <ng-container *ngIf="listUserEditing.length" [ngTemplateOutlet]="editingOnline">
            </ng-container>
            <a href="#" class="btn btn-link link text-dark d-flex flex-row" (click)="onPreview($event)">
                <div [inlineSVG]="'./assets/media/svg/bca/icon/preview.svg'" cacheSVG="true" class="svg-icon"></div>
                <div>Preview</div>
            </a>
            <div class="separator"></div>
            <a href="#" class="btn btn-link link text-dark d-flex flex-row"
                [ngClass]="{'disabled' : !this.dataForm.valid || hasError || hasImageError}" (click)="onSave($event)">
                <div [inlineSVG]="'./assets/media/svg/bca/icon/save.svg'" cacheSVG="true" class="svg-icon"></div>
                <div>Simpan</div>
            </a>
            <div class="separator"></div>
            <a href="#" class="btn btn-link text-dark d-flex flex-row" [ngClass]="{'disabled' : !isAllPass()}"
                (click)="onSaveAndSend($event)">
                <div [inlineSVG]="'./assets/media/svg/bca/icon/send.svg'" cacheSVG="true" class="svg-icon"></div>
                <div>Simpan & Kirim</div>
            </a>
        </div>
    </div>
    <div *ngIf="!finishRender" class="pakar-container mx-15 p-8" style="padding-top:calc(2rem + 50px) !important">
        Please Wait...
    </div>
    <div *ngIf="finishRender && dataForm" class="pakar-container mx-15 p-8" style="padding-top:60px !important">
        <span class="pakar-text-header">{{isEdit ? 'Ubah' : 'Tambah'}} Artikel</span>
        <form #articleForm [formGroup]="dataForm" novalidate="novalidate">
            <div class="form-group col-sm-11 col-lg-6 col-xl-6 col-xxl-6">
                <label>Judul Artikel <span class="text-danger">*</span></label>
                <input type="hidden" name="title" formControlName="title">
                <pakar-input-length placeholder="Masukkan nama artikel disini (maks. 50 karakter)"
                    formControlName="title" maxlength="50" (onChange)="checkUniq($event)" [hasError]="hasError">
                </pakar-input-length>
                <pakar-control-error [control]="dataForm.controls['title']" alias="Judul Artikel">
                </pakar-control-error>
                <ng-container *ngIf="hasError">
                    <div class="fv-plugins-message-container">
                        <div class="fv-help-block"><span>{{errorMsg}}</span></div>
                    </div>
                </ng-container>
            </div>
            <div class="form-group col-sm-11 col-lg-9 col-xl-9 col-xxl-9">
                <label>Lokasi Artikel <span class="text-danger">*</span></label>
                <pakar-combo-box-accordion formControlName="structureOption" [options]="locationOptions"
                    (onChange)="changeLocation($event)"
                    placeholder="Pilih lokasi yang tepat untuk artikel yang ingin ditambahkan" [disabled]="isEdit">
                </pakar-combo-box-accordion>
            </div>
            <div class="form-group col-sm-11 col-lg-9 col-xl-9 col-xxl-9">
                <label>Deskripsi Singkat <span class="text-danger">*</span></label>
                <ckeditor #editorDesc [editor]="editor" [config]="config" tagName="textarea"
                    (ready)="onReadyDesc($event)" (change)="onChange($event)" formControlName="desc"></ckeditor>
            </div>
            <div class="form-group col-sm-11 col-lg-6 col-xl-6 col-xxl-6">
                <label>Gambar Artikel <span class="text-danger">*</span></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile04" accept="image/*"
                        (change)="onImageChange($event)">
                    <label class="custom-file-label" [ngClass]="{'hasError' : hasImageError}" for="inputGroupFile04">{{
                        showImageName() }}</label>
                </div>
                <ng-container *ngIf="hasImageError">
                    <div class="fv-plugins-message-container">
                        <div class="fv-help-block"><span>{{errorImageMsg}}</span></div>
                    </div>
                </ng-container>
            </div>
            <div class="form-group col-sm-11 col-lg-6 col-xl-6 col-xxl-6">
                <label>Video Artikel</label>
                <input type="url" class="form-control" formControlName="video" placeholder="Masukan URL myVideo">
            </div>
            <div class="form-group col-sm-12 col-lg-11 col-xl-11 col-xxl-11">
                <label>Konten Artikel <span class="text-danger">*</span></label>
                <div class="border border-light rounded-sm p-3">
                    <mat-accordion [togglePosition]="'before'" multi="true">
                        <mat-expansion-panel [id]="'acc-id-'+content.id"
                            *ngFor="let content of dataForm.get('contents').value; let i=index;"
                            class="acc-level acc-level-1" [(expanded)]="content.expanded">
                            <mat-expansion-panel-header [@.disabled]="true">
                                <mat-panel-title class="d-flex flex-row fs16pt-em" [id]="'acc-title-'+content.id">
                                    <span>{{content.title}}</span>
                                    <span [inlineSVG]="'./assets/media/svg/bca/icon/info.svg'" cacheSVG="true"
                                        class="svg-icon svg-tooltip mx-2" placement="right" [ngbTooltip]="tooltips[i]"
                                        container="body" tooltipClass="my-custom-class fs12">
                                    </span>
                                </mat-panel-title>
                                <ng-container *ngIf="!content.isNew" [ngTemplateOutlet]="rightIcon"
                                    [ngTemplateOutletContext]="{ data: content}">
                                </ng-container>
                            </mat-expansion-panel-header>
                            <ng-template matExpansionPanelContent>
                                <div class="content">
                                    <div *ngIf="content.isEdit" class="p-3 drop-area-accordion"
                                        [attr.data-id]="content.id">
                                        <div class="form-group">
                                            <label>Judul Topik <span class="text-danger">*</span></label>
                                            <pakar-input-length
                                                placeholder="Masukkan judul topik disini (maks. 150 karakter)"
                                                [(ngModel)]="content.topicTitle" maxlength="150"
                                                (onChange)="content.title = $event"
                                                [ngModelOptions]="{standalone: true}"
                                                [disabled]="user.roles[0] != 'ADMIN' && user.roles[0] != 'SUPERADMIN'">
                                            </pakar-input-length>
                                        </div>
                                        <div class="form-group">
                                            <label>Isi Topik <span class="text-danger">*</span></label>
                                            <ckeditor [editor]="editor" [config]="configTopic" tagName="textarea"
                                                [(ngModel)]="content.topicContent"
                                                (ready)="onReady($event, content.topicContent)"
                                                (change)="onChange($event)" [ngModelOptions]="{standalone: true}">
                                            </ckeditor>
                                        </div>
                                        <div class="text-right">
                                            <button type="button" class="btn btn-outline-light btn-sm button-cancel"
                                                (click)="accCancel(content)">Batal</button>
                                            <button type="button" class="btn btn-sm btn-blue button-simpan"
                                                [disabled]="!content.topicContent"
                                                (click)="accSaveAddEdit(content)">Simpan</button>
                                        </div>
                                    </div>
                                    <div *ngIf="!content.isEdit && content.topicContent"
                                        class="fs11pt p-3 drop-area-accordion ckeditor-page-view"
                                        style="padding-bottom: 0px !important;"
                                        [innerHTML]="content.topicContent | sanitizeHtml" [attr.data-id]="content.id">
                                    </div>
                                    <input *ngIf="!content.isEdit && !content.topicContent" type="text"
                                        class="txt-desc-lvl1 drop-area-accordion" readonly [attr.data-id]="content.id"
                                        placeholder="Masukkan kalimat pengantar terkait {{content.title}} disini.">
                                    <ng-container [ngTemplateOutlet]="accordionChild"
                                        [ngTemplateOutletContext]="{ children: content.children, level:2, parents:[{id:content.id, no:content.no}]}">
                                    </ng-container>
                                </div>
                            </ng-template>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <button
                        *ngIf="dataForm.get('isEmptyTemplate').value  && (user.roles[0] == 'ADMIN' || user.roles[0] == 'SUPERADMIN')"
                        type="button" class="btn btn-blue-outline btn-sm rounded-sm w-100"
                        (click)="btnAddClick($event, null)">+ Tambah Topik</button>
                    <button
                        *ngIf="dataForm.get('isEmptyTemplate').value  && !(user.roles[0] == 'ADMIN' || user.roles[0] == 'SUPERADMIN')"
                        type="button" class="btn btn-danger btn-sm rounded-sm w-100" disabled>
                        Content Kosong
                    </button>
                </div>
            </div>
            <div class="form-group col-sm-12 col-lg-11 col-xl-11 col-xxl-11">
                <label>SK/SE Referensi</label>
                <pakar-multi-select formControlName="references"
                    placeholder="Masukkan Nomor Referensi atau Judul SKSE dari Artikel ini" [dataList]="skReferences"
                    (getData)="getDataSkSeReference($event)">
                </pakar-multi-select>
            </div>
            <div class="form-group col-sm-12 col-lg-11 col-xl-11 col-xxl-11">
                <label>Informasi Terkait</label>
                <pakar-multi-select formControlName="related"
                    placeholder="Masukkan Artikel terkait lain yang bersangkutan dengan artikel ini"
                    [dataList]="relatedArticle$" (getData)="getDataRelatedArticle($event)" maxSelected="3">
                </pakar-multi-select>
            </div>
            <div class="form-group col-sm-12 col-lg-11 col-xl-11 col-xxl-11 d-flex flex-row align-items-center">
                <div class="fs14 fb6 mr-2 pb-2">Suggestion :</div>
                <div class="flex-grow-1">
                    <pakar-multi-select formControlName="suggestions"
                        placeholder="Masukkan Nomor Referensi atau Judul SKSE dari Artikel ini"
                        [dataList]="suggestionArticle$" (getData)="getDataSuggestionArticle($event)" maxSelected="5"
                        (onSelect)="onSelectSuggestionArticle($event)" class="border-less">
                    </pakar-multi-select>
                </div>
            </div>
            <div class="form-group col-sm-12 col-lg-11 col-xl-11 col-xxl-11 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-light btn-sm rounded-xl px-5 ml-3"
                    (click)="onCancel($event)">Batal</button>
                <button type="button" class="btn btn-blue-outline btn-sm px-5 ml-3"
                    [disabled]="!dataForm.valid || hasError || hasImageError" (click)="onSave($event)">Simpan</button>
                <button type="button" class="btn btn-save-send btn-primary btn-sm rounded-xl px-5 ml-3"
                    (click)="onSaveAndSend($event)" [disabled]="!isAllPass()">Simpan & Kirim</button>
            </div>
        </form>
    </div>
</ng-container>

<ng-template #preview>
    <pakar-article-preview (onCancelCallback)="onPreview(false)" [hideTopbar]="previewHideTopbar"
        [alert]="previewHideTopbar" [alertMessage]="previewAlertMessage" (onSaveCallback)="onSave($event)"
        (onSaveSendCallback)="onSaveAndSend($event)" [btnSaveEnabled]="dataForm.valid && !hasError && !hasImageError"
        [btnSaveSendEnabled]="isAllPass()" [originArticle]="originArticle" [isCompare]="isCompare">
    </pakar-article-preview>
</ng-template>

<ng-template #rightIcon let-data="data">
    <div class="right-icon d-flex flex-row align-items-center">
        <!-- add -->
        <ng-container *ngIf="data.level < 5">
            <a href='#' class="btn-link" (click)="btnAddClick($event, data)">
                <span [inlineSVG]="'./assets/media/svg/bca/icon/plus.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-sm mr-2"></span>
            </a>
        </ng-container>
        <!-- Edit -->
        <a href='#' class="btn-link" (click)="btnEditClick($event, data)">
            <span [inlineSVG]="'./assets/media/svg/bca/icon/pencil.svg'" cacheSVG="true"
                class="svg-icon svg-icon-sm mr-2"></span>
        </a>

        <!-- edit & delete -->
        <ng-container
            *ngIf="dataForm.value.isEmptyTemplate && data.level == 1 && (user.roles[0] == 'ADMIN' || user.roles[0] == 'SUPERADMIN')">
            <a href='#' class="btn-link" (click)="btnDeleteClick($event, data)">
                <span [inlineSVG]="'./assets/media/svg/bca/icon/trash-bin.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-sm mr-2"></span>
            </a>
        </ng-container>
        <ng-container *ngIf="data.level > 1">
            <a href='#' class="btn-link" (click)="btnDeleteClick($event, data)">
                <span [inlineSVG]="'./assets/media/svg/bca/icon/trash-bin.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-sm mr-2"></span>
            </a>
        </ng-container>
    </div>
</ng-template>

<ng-template #accordionChild let-children="children" let-level="level" let-parents="parents">
    <div class="border-bottom-separator"></div>
    <mat-accordion cdkDropList (cdkDropListDropped)="drop($event,level,parents)" [cdkDropListData]="children"
        [id]="dropListsId(parents)" [cdkDropListConnectedTo]="allIdConnected" [togglePosition]="'before'"
        hideToggle="false" multi="true">
        <div [id]="'plc'+dropListsId(parents)" class="fake-drag-placeholder"></div>
        <div *ngIf="children.length>0">
            <ng-container *ngFor="let content of children; let i = index">
                <div class="input-accordion-separator"></div>
                <mat-expansion-panel [@.disabled]="true" class="acc-level acc-level-{{level}}" cdkDrag
                    [cdkDragData]="content" [(expanded)]="content.expanded" [id]="'acc-id-'+content.id"
                    (cdkDragMoved)="dragMovedDebounce($event)">
                    <div class="drag-placeholder" *cdkDragPlaceholder></div>
                    <mat-expansion-panel-header cdkDragHandle [class.drop-area-accordion]="content.expanded"
                        [attr.data-id]="content.id">
                        <mat-panel-title class="d-flex flex-row fs16pt-em" [id]="'acc-title-'+content.id">
                            <span class="mr-2">{{numberingFormat(content)}}.</span>
                            <span [innerHTML]="content.title"></span>
                        </mat-panel-title>
                        <ng-container *ngIf="!content.isNew" [ngTemplateOutlet]="rightIcon"
                            [ngTemplateOutletContext]="{ data: content}">
                        </ng-container>
                    </mat-expansion-panel-header>
                    <div class="preview-drag" *cdkDragPreview>{{numberingFormat(content)}}. {{content.title}}
                        <ng-container [ngTemplateOutlet]="rightIcon" [ngTemplateOutletContext]="{ data: content}">
                        </ng-container>
                    </div>
                    <ng-template matExpansionPanelContent>
                        <div class="content">
                            <div class="p-3 drop-area-accordion" [attr.data-id]="content.id">
                                <div *ngIf="content.isEdit">
                                    <div class="form-group">
                                        <label>Judul Topik <span class="text-danger">*</span></label>
                                        <pakar-input-length
                                            placeholder="Masukkan judul topik disini (maks. 150 karakter)"
                                            [(ngModel)]="content.topicTitle" maxlength="150"
                                            (onChange)="content.title = $event">
                                        </pakar-input-length>
                                    </div>
                                    <div class="form-group">
                                        <label>Isi Topik <span class="text-danger">*</span></label>
                                        <ckeditor [editor]="editor" [config]="configTopic" tagName="textarea"
                                            [(ngModel)]="content.topicContent"
                                            (ready)="onReady($event, content.topicContent)" (change)="onChange($event)">
                                        </ckeditor>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-outline-light btn-sm button-cancel"
                                            (click)="accCancel(content)">Batal</button>
                                        <button type="button" class="btn btn-sm btn-blue button-simpan"
                                            [disabled]="!content.topicContent"
                                            (click)="accSaveAddEdit(content)">Simpan</button>
                                    </div>
                                </div>
                                <div class="fs11pt ckeditor-page-view" *ngIf="!content.isEdit"
                                    [innerHTML]="(content.topicContent || '&nbsp;') | sanitizeHtml"></div>
                            </div>
                            <ng-container [ngTemplateOutlet]="accordionChild"
                                [ngTemplateOutletContext]="{ children: content.children, level : level+1, parents: parents.concat({id:content.id, no:content.no})}">
                            </ng-container>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </ng-container>
        </div>
    </mat-accordion>
</ng-template>

<ng-template #formSaveAndSend let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Simpan & Kirim</h4>
        <button type="button" class="close  font-weight-lighter" aria-label="Close" (click)="d('Cross click')">
            <i aria-hidden="true" class="icon-2x">&times;</i>
        </button>
    </div>
    <div class="modal-body pt-0">
        <div class="form-group mt-3">
            <span>Apakah Kamu yakin ingin menyimpan halaman ini dan mengirimkannya? Halaman belum terpublish sebelum
                mendapatkan persetujuan dari Admin.</span>
        </div>
        <div class="form-group">
            <label>Kirim Ke <span class="text-danger">*</span></label>
            <pakar-auto-complete [(ngModel)]="saveAndSend.sendTo.username" [options]="userOptions"
                placeholder="Masukkan Nama" (onSearch)="searchUser($event)" (onChange)="userChange($event)"
                [selected]="selectedSaveAndSend">
            </pakar-auto-complete>
            <textarea rows="4" class="form-control" placeholder="Catatan" [(ngModel)]="saveAndSend.sendNote"
                style="margin-top:3px" maxlength="200"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light btn-sm rounded-lg px-5" (click)="c('Batal')">Batal</button>
        <button type="button" class="btn btn-sm btn-blue rounded-lg px-5" [disabled]="!(saveAndSend.sendTo.username)"
            (click)="doSaveAndSend($event)">Kirim</button>
    </div>
</ng-template>

<ng-template #editingOnline>
    <div class="d-flex flex-row">
        <div *ngFor="let user of listUserEditing | slice:0:5;; let i=index;"
            class="d-flex flex-center ak ak-{{i+1}} rounded-xl fs10 fb6 mr-1" placement="bottom"
            [ngbTooltip]="tooltipUser" container="body" tooltipClass="fs12" triggers="manual" #t1="ngbTooltip"
            (mouseover)="toggleTooltip(t1, user, i, true)" (mouseout)="toggleTooltip(t1, user, i, false)">{{user.alias}}
        </div>

        <div *ngIf="listUserEditing.length > 5" [ngbTooltip]="tooltipUserOther" container="body" triggers="manual"
            #t2="ngbTooltip" class="d-flex flex-center ak ak-other rounded-xl fs10 fb6 mr-1"
            (mouseover)="toggleTooltip(t2, listUserEditing.slice(5), -1, true)"
            (mouseout)="toggleTooltip(t2, null, -1, false)">
            +{{listUserEditing.length-5}}
        </div>
    </div>
</ng-template>

<ng-template #tooltipUser let-user="user" let-i="i">
    <div class="d-flex flex-row flex-center">
        <div class="d-flex flex-center ak ak-{{i+1}} rounded-xl fs10 fb6 mr-1">{{user.alias}}</div>
        <div>{{user.fullname}}</div>
    </div>
</ng-template>

<ng-template #tooltipUserOther let-users="user" let-i="i">
    <div class="d-flex flex-column">
        <div *ngFor="let user of users; let i = index" class="d-flex flex-row justify-content-start flex-center mb-1">
            <div class="d-flex flex-center ak ak-{{i+6}} rounded-xl fs10 fb6 mr-1">{{user.alias}}</div>
            <div class="d-flex line-1" style="width: 150px;">{{user.fullname}}</div>
        </div>
    </div>
</ng-template>