:host ::ng-deep .nav-tabs {
  border-bottom: none;

  .nav-link.active {
    border-color: transparent;
    background-color: transparent;
    border-bottom: 2px solid #0078d4;

    .fa,
    .far {
      color: #0078d4;
    }
  }
}

:host ::ng-deep {
  .sup-new {
    color: #107c10;
  }

  .data-item {
    padding: 5px;
  }

  .input-group.inner {
    border-radius: 20px;
    padding-left: 15px;
    overflow: hidden;
    width: 362px;
    height: 34px;

    .form-control-clear.btn-clean {
      background-color: transparent;
      border-color: transparent;
    }

    input {
      border: none;
    }

    .btn {
      border-color: #0f5ea9;
      background: #0f5ea9;
      border-radius: 0;

      .fa {
        color: white;
      }
    }

    .btn:hover {
      background-color: #ddd;
      border-color: #ddd;

      .fa {
        color: #0f5ea9;
      }
    }

    .btn-clean:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }

  .td-dot3 {
    text-align: center;
  }

  .dot3 {
    height: 100%;
  }

  #table-draft,
  #table-pending,
  #table-approved {
    &.table tr.is-click td {
      background-color: #f3f2f1;

      &.td-dot3 {
        background-color: #c8c6c4 !important;
      }
    }
  }

  .width-table-320 {
    width: calc(var(--scale) * 320px);
  }

  .width-table-260 {
    width: calc(var(--scale) * 260px);
  }

  .width-table-180 {
    width: calc(var(--scale) * 180px);
  }

  .width-table-160 {
    width: calc(var(--scale) * 160px);
  }


  .font-scale-header {
    font-size: calc(var(--scale) * 14px);
  }

  div.tab-pane {
    height: 100%;
  }

  .icon-table {
    > svg {
      height: 16px;
    }
  }

  .bothside-padding {
    padding-right: 12px;
    padding-left: 12px;
  }
}
