:host ::ng-deep {
  .empty-data {}

  .data-item {
    padding: 5px;
  }

  .input-group.inner {
    border: 1px solid #0F5EA9;
    border-radius: 20px;
    padding-left: 15px;
    overflow: hidden;
    width: 362px;
    height: 34px;

    .form-control-clear.btn-clean {
      background-color: transparent;
      border-color: transparent;
    }

    input {
      border: none;
    }

    .btn {
      border-color: #0F5EA9;
      background: #0F5EA9;
      border-radius: 0;

      .fa {
        color: white;
      }
    }

    .btn:hover {
      background-color: #ddd;
      border-color: #ddd;

      .fa {
        color: #0F5EA9;
      }
    }

    .btn-clean:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }
}
