<div class="background-overlay  d-flex flex-column flex-fill" style="
    background-image: url('./assets/media/images/struktur_bg.jpeg');
    background-repeat: no-repeat;
    background-position: top;
    min-height: 184px;
    background-size: 100% 184px;
    height: 100%;
">
    <div class="d-flex flex-column flex-fill mx-15 mt-0">
        <div class="my-7">
            <pakar-search></pakar-search>
        </div>
        <div class="card card-custom d-flex flex-fill px-7 pt-5 mb-5">
            <div class="d-flex flex-row  align-items-center justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <span [inlineSVG]="'./assets/media/svg/bca/icon/page.svg'" class="svg-icon mr-2"></span>
                    <div class="pakar-text-header my-2">My Pages</div>
                </div>
                <div class="input-group inner"
                    [ngStyle]="{'border' : keyword ?  '1px solid #0F5EA9' :  '1px solid #C8C6C4'}">
                    <input type="text" class="form-control" placeholder="Cari artikel, virtual page atau formulir"
                        [(ngModel)]="keyword" style="height: 34px;  padding-top: 6px;" (keyup.enter)="onSearch(keyword)">
                    <div class="form-control-clear btn btn-icon btn-clean" *ngIf="keyword"
                        (click)="keyword =''; onSearch($event)" style="height: 34px;">
                        <span [inlineSVG]="'./assets/media/svg/bca/icon/close.svg'" cacheSVG="true"
                            class="hidden svg mr-1 ml-1"></span>
                    </div>
                    <span class="input-group-btn" style="height: 34px;">
                        <button class="btn btn-outline-secondary btn-success btn-sm" type="button"
                            (click)="onSearch($event)" style="padding-top: 6px;">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>

            <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeId" [destroyOnHide]="false">
                <li [ngbNavItem]="i" *ngFor="let key of listHeader; let i = index ">
                    <a ngbNavLink style="text-transform:capitalize;">
                        <b>{{key}} ({{dataForm[key].pagination.totalData || 0}})</b>
                    </a>
                    <ng-template ngbNavContent>
                        <div class="d-flex flex-column flex-fill justify-content-between" style="height: 100%;">
                            <table [id]="'table-'+key" class="table table-head-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 36px;text-align: center;">
                                            <span [inlineSVG]="'./assets/media/svg/bca/icon/doc-empty.svg'"
                                                class="svg"></span>
                                        </th>
                                        <th scope="col" sortable="title" (sort)="onSort($event)"
                                            class="bothside-padding">
                                            <span class="text-title font-scale-header">Judul</span><i
                                                class="sortable"></i>
                                        </th>
                                        <th scope="col" sortable="location" (sort)="onSort($event)"
                                            class="bothside-padding width-table-320">
                                            <span class="text-title font-scale-header">Lokasi</span><i
                                                class="sortable"></i>
                                        </th>

                                        <ng-container *ngIf="key == 'approved'">
                                            <th scope="col" sortable="approved_date" (sort)="onSort($event)"
                                                class="bothside-padding width-table-180">
                                                <span
                                                    class="text-title font-scale-header">{{tableHeader[key][3]}}</span><i
                                                    class="sortable"></i>
                                            </th>
                                            <th scope="col" sortable="approved_by" (sort)="onSort($event)"
                                                class="bothside-padding width-table-150">
                                                <span
                                                    class="text-title font-scale-header">{{tableHeader[key][4]}}</span><i
                                                    class="sortable"></i>
                                            </th>
                                        </ng-container>

                                        <ng-container *ngIf="key == 'pending'">
                                            <th scope="col" sortable="modified_date" (sort)="onSort($event)"
                                                class="bothside-padding width-table-180"
                                                direction="asc"
                                                [class.asc]="dataForm[key].sort.column == 'modified_date' && dataForm[key].sort.direction == 'asc'">
                                                <span
                                                    class="text-title font-scale-header">{{tableHeader[key][3]}}</span><i
                                                    class="sortable"></i>
                                            </th>
                                            <th scope="col" sortable="send_to" (sort)="onSort($event)"
                                                class="bothside-padding width-table-150">
                                                <span
                                                    class="text-title font-scale-header">{{tableHeader[key][4]}}</span><i
                                                    class="sortable"></i>
                                            </th>
                                        </ng-container>

                                        <ng-container *ngIf="key == 'draft'">
                                            <th scope="col" sortable="modified_date" (sort)="onSort($event)"
                                                class="bothside-padding width-table-180"
                                                direction="asc"
                                                [class.asc]="dataForm[key].sort.column == 'modified_date' && dataForm[key].sort.direction == 'asc'">
                                                <span class="text-title font-scale-header">
                                                    {{tableHeader[key][3]}}</span>
                                                <i class="sortable"></i>
                                            </th>
                                            <th scope="col" sortable="modified_by" (sort)="onSort($event)"
                                                class="bothside-padding width-table-160">
                                                <span
                                                    class="text-title font-scale-header">{{tableHeader[key][4]}}</span>
                                                <i class="sortable"></i>
                                            </th>
                                        </ng-container>

                                        <th scope="col" class="bothside-padding width-table-260 font-scale-header">
                                            {{tableHeader[key][5]}}
                                        </th>

                                        <th scope="col" style="width: 30px;">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody [id]="'table-tbody-'+key">
                                    <ng-container *ngIf="dataForm[key].dataList.length">
                                        <tr *ngFor="let item of dataForm[key].dataList; let i = index;" ngbDropdown
                                            #dropDown="ngbDropdown" container="body" placement="bottom-right auto"
                                            class="dot3" (openChange)="onOpenChangeDropdown($event, key, i)">
                                            <td (click)="showArticle(item.id)" class="cursor-pointer bothside-padding"
                                                style="text-align: center;">
                                                <span [inlineSVG]="'./assets/media/svg/bca/icon/'+getIcon(item.type)"
                                                    class="svg icon-table"></span>
                                            </td>
                                            <ng-container *ngIf="key == 'pending'">
                                                <td (click)="showArticle(item.id)"
                                                    class="cursor-pointer bothside-padding font-scale-header">
                                                    {{item.title | maxLength:30}}<sup *ngIf="item.isNew"
                                                        class="sup-new fb7">(new)</sup>
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="key == 'draft'">
                                                <td (click)="showArticle(item.id)"
                                                    class="te-3 cursor-pointer bothside-padding font-scale-header">
                                                    {{item.title | maxLength:50}}<sup *ngIf="item.isNew"
                                                        class="sup-new fb7">(new)</sup>
                                                </td>
                                            </ng-container>
                                            <td (click)="showArticle(item.id)"
                                                class="cursor-pointer bothside-padding font-scale-header"
                                                placement="top auto" [ngbTooltip]="item.location" container="body"
                                                tooltipClass="fs12">
                                                <div class="te-3">{{item.location | maxLength:130}}</div>
                                            </td>

                                            <ng-container *ngIf="key == 'approved'">
                                                <td (click)="showArticle(item.id)"
                                                    class="cursor-pointer bothside-padding font-scale-header">
                                                    {{item.approved_date | date:'dd/MM/yyyy hh:mm a'}}</td>
                                                <td (click)="showArticle(item.id)"
                                                    class="cursor-pointer bothside-padding font-scale-header">
                                                    {{item.approved_by}}</td>
                                                <td (click)="showArticle(item.id)"
                                                    class="cursor-pointer bothside-padding font-scale-header">
                                                    {{item.effective_date | date:'dd/MM/yyyy hh:mm a'}}</td>
                                            </ng-container>

                                            <ng-container *ngIf="key == 'pending'">
                                                <td (click)="showArticle(item.id)"
                                                    class="cursor-pointer bothside-padding font-scale-header">
                                                    {{item.modified_date | date:'dd/MM/yyyy hh:mm a'}}</td>
                                                <td (click)="showArticle(item.id)"
                                                    class="cursor-pointer bothside-padding font-scale-header">
                                                    {{item.send_to | maxLength:40}}</td>
                                                <td (click)="showArticle(item.id)"
                                                    class="cursor-pointer bothside-padding font-scale-header"
                                                    placement="top auto" [ngbTooltip]="item.current_by" container="body"
                                                    tooltipClass="fs12">
                                                    <div class="te-3">{{(item.current_by | maxLength:130) || '-'}}</div>
                                                </td>
                                            </ng-container>

                                            <ng-container *ngIf="key == 'draft'">
                                                <td (click)="showArticle(item.id)"
                                                    class="cursor-pointer bothside-padding font-scale-header">
                                                    {{item.modified_date | date:'dd/MM/yyyy hh:mm a'}}</td>
                                                <td (click)="showArticle(item.id)"
                                                    class="cursor-pointer bothside-padding font-scale-header">
                                                    {{item.modified_by | maxLength:40}}</td>
                                                <td (click)="showArticle(item.id)"
                                                    class="cursor-pointer bothside-padding font-scale-header"
                                                    placement="top auto" [ngbTooltip]="item.current_by" container="body"
                                                    tooltipClass="fs12">
                                                    <div class="te-3">{{(item.current_by | maxLength:130) || '-'}}</div>
                                                </td>
                                            </ng-container>

                                            <td class="td-dot3" style="width: 45px;" ngbDropdownToggle>
                                                <div class="cursor-pointer">
                                                    <i class="ki ki-more-hor"></i>
                                                </div>
                                                <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up"
                                                    ngbDropdownMenu>
                                                    <ul class="navi">
                                                        <li class="navi-item">
                                                            <a class="navi-link cursor-pointer"
                                                                (click)="onClickRevision(item, i); dropDown.close()">
                                                                <span class="navi-text font-weight-bolder">Riwayat
                                                                    Versi</span>
                                                            </a>
                                                        </li>

                                                        <ng-container *ngIf="key == 'draft'||key == 'pending'">
                                                            <li class="navi-item">
                                                                <a class="navi-link cursor-pointer"
                                                                    [class.disabled]="key == 'pending'&&!item.isPublished"
                                                                    (click)="onClickEdit(item, i); dropDown.close()">
                                                                    <span
                                                                        class="navi-text font-weight-bolder">Ubah</span>
                                                                </a>
                                                            </li>
                                                        </ng-container>

                                                        <ng-container *ngIf="key == 'approved'||key == 'draft'">
                                                            <li class="navi-item">
                                                                <!-- <a class="navi-link disabled" -->
                                                                <a class="navi-link cursor-pointer"
                                                                    (click)="onClickCancel(item, i); dropDown.close()">
                                                                    <span
                                                                        class="navi-text font-weight-bolder">Hapus</span>
                                                                </a>
                                                            </li>
                                                        </ng-container>

                                                        <ng-container *ngIf="key == 'pending'">
                                                            <li class="navi-item">
                                                                <a class="navi-link cursor-pointer"
                                                                    (click)="onClickCancelSend(item, i); dropDown.close()">
                                                                    <span class="navi-text font-weight-bolder">Batal
                                                                        Kirim</span>
                                                                </a>
                                                            </li>
                                                        </ng-container>

                                                        <ng-container *ngIf="key == 'draft'">
                                                            <li class="navi-item">
                                                                <a class="navi-link cursor-pointer"
                                                                    (click)="onClickCancelChange(item, i); dropDown.close()">
                                                                    <span class="navi-text font-weight-bolder">Batal
                                                                        Ubah</span>
                                                                </a>
                                                            </li>
                                                        </ng-container>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>

                            <div *ngIf="dataForm[key].dataList.length == 0"
                                class="d-flex flex-column flex-center flex-fill">
                                <span
                                    [inlineSVG]="'./assets/media/svg/bca/icon/'+(keyword ? 'doc-not-found' : 'doc-2-empty')+'.svg'"
                                    class="svg"></span>
                                <div [innerHTML]="getEmptyMessage(key)"></div>
                            </div>
                            <div *ngIf="dataForm[key].dataList.length"
                                class="d-flex justify-content-center align-items-center flex-wrap mt-5">
                                <app-pagination (onChange)="setPage(key, dataForm[key], $event)"
                                    [paging]="dataForm[key].pagination">
                                </app-pagination>
                            </div>
                        </div>
                    </ng-template>
                </li>

                <!-- Right Combo Box -->
                <li ngbNavItem class="ml-auto">
                    Jenis Halaman :
                    <select [(ngModel)]="type" (change)="onSearch($event)">
                        <option value="ALL">Semua</option>
                        <option value="article">Artikel</option>
                        <option value="virtualpage">Virtual Page</option>
                        <option value="formulir">Formulir</option>
                    </select>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="d-flex flex-column flex-fill data-item mt-2"></div>
        </div>
    </div>
</div>

<ng-template #riwayatVersiModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Riwayat Versi - {{selectedItem.title}}</h4>
        <button type="button" class="close font-weight-lighter" aria-label="Close" (click)="d('Cross click')">
            <i aria-hidden="true" class="icon-2x">&times;</i>
        </button>
    </div>
    <div class="modal-body pt-0" style="min-height: 400px;">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Versi</th>
                    <th>Modifikasi Oleh</th>
                    <th>Tanggal Approve</th>
                    <th>Approver</th>
                    <th>Referensi Dokumen</th>
                    <th>Tanggal Berlaku</th>
                    <th>Catatan</th>
                </tr>
            </thead>
        </table>
    </div>
</ng-template>

<ng-template #formConfirmDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Hapus Artikel</h4>
        <button type="button" class="close font-weight-lighter" aria-label="Close" (click)="d('Cross click')">
            <i aria-hidden="true" class="icon-2x">&times;</i>
        </button>
    </div>
    <div class="modal-body pt-0">
        <div class="form-group">
            <span>Artikel tidak dapat di hapus sebelum mendapatkan persetujuan. Silakan masukan dokumen dasar
                penghapusan artikel ini.</span>
        </div>
        <div class="form-group">
            <label>Approver <span class="text-danger">*</span></label>
            <pakar-auto-complete [(ngModel)]="delete.sendTo.username" [options]="userOptions"
                placeholder="Masukkan Nama Approver" (onSearch)="searchUser($event)" (onChange)="userChange($event)">
            </pakar-auto-complete>
            <textarea rows="4" class="form-control" placeholder="Catatan" [(ngModel)]="delete.sendNote"
                style="margin-top:3px"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light btn-sm rounded-lg px-5" (click)="c('Batal')">Batal</button>
        <button type="button" class="btn btn-sm btn-blue rounded-lg px-5"
            [disabled]="!(delete.sendTo.username && delete.sendNote)" (click)="onCancelApprover($event)">Kirim</button>
    </div>
</ng-template>