<div class="card card-custom" style="margin-top: 20px;">
    <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Rekomendasi Untuk Kamu</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">
                Informasi PAKAR yang direkomendasikan sesuai <i>jobdesk</i> Kamu
            </span>
        </h3>

        <div class="card-title align-self-end flex-column">
            <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
                Lihat semua >
            </span>
        </div>
    </div>
    <div class="card-body p-0 position-relative overflow-hidden">
        <div class="card-spacer">
            <div class="row m-0">
                <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner"> -->
                        <div class="col px-5 py-5 rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                            <div>
                                <div class="row">
                                    <div class="col-md-auto px-2">
                                        <img src="../../../assets/media/images/tahapan-berjangka.JPG" width="110px" height="110px"
                                            background-position:center>
                                    </div>
                                    <div class="col px-2">
                                        <div>
                                            <a class="text-muted font-weight-bold font-size-sm">
                                                12 Oktober 2020
                                            </a>
                                        </div>
                                        <br>
                                        <div>
                                            <a class="text-dark font-weight-bold font-size-h7">
                                                TAHAKA (Tahapan Berjangka)
                                            </a>
                                        </div>
                                        <div>
                                            <span class="text-muted font-weight-bold font-size-sm"
                                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col px-5 py-5 rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                            <div>
                                <div class="row">
                                    <div class="col-md-auto px-2">
                                        <img src="../../../assets/media/images/time-loan.jpg" width="110px" height="110px"
                                            background-position:center>
                                    </div>
                                    <div class="col px-2">
                                        <div>
                                            <a class="text-muted font-weight-bold font-size-sm">
                                                11 Oktober 2020
                                            </a>
                                        </div>
                                        <br>
                                        <div>
                                            <a class="text-dark font-weight-bold font-size-h7">
                                                Time Loan - SME
                                            </a>
                                        </div>
                                        <div>
                                            <span class="text-muted font-weight-bold font-size-sm"
                                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col px-5 py-5 rounded-sm mr-0 mb-7" style="border: 1px solid #DDD;">
                            <div>
                                <div class="row">
                                    <div class="col-md-auto px-2">
                                        <img src="../../../assets/media/images/giro.jpeg" width="110px" height="110px"
                                            background-position:center>
                                    </div>
                                    <div class="col px-2">
                                        <div>
                                            <a class="text-muted font-weight-bold font-size-sm">
                                                11 Oktober 2020
                                            </a>
                                        </div>
                                        <br>
                                        <div>
                                            <a class="text-dark font-weight-bold font-size-h7">
                                                GIRO
                                            </a>
                                        </div>
                                        <div>
                                            <span class="text-muted font-weight-bold font-size-sm"
                                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- NEXT BUTTON -->
                            <a class="carousel-control-next w-auto" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="false"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                             
                    <!--</div>-->           
               <!-- </div> -->
            </div>
        </div>
    </div>
</div>
