<div class="d-flex flex-wrap justify-content-between mb-5">
    <h3 class="ml-2">
        <div class="font-weight-bolder text-dark mb-2">Rekomendasi Untuk Kamu</div>
        <div class="font-weight-normal font-size-sm" style="color: #605E5C;">
            Informasi PAKAR yang direkomendasikan sesuai <i class="font-size-sm" style="color: #605E5C;">jobdesk</i> Kamu
        </div>
    </h3>
    <div class="d-flex align-items-end mx-2">
        <a class="navi-link" href="#">
            <a routerLink="/article/recommendation" class="navi-text cursor-pointer font-weight-bold font-size-sm">
                Lihat semua >
            </a>
        </a>
    </div>
</div>
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let item of slides" class="slide my-3">
        <div class="mx-2">
            <div class="col rounded-sm"
                style="border: 1px solid #DDD; box-shadow: 0px 4px 8px 0px #0000001A;"
                onmouseover="this.style.border ='1px groove #1995D1';"
                onmouseout="this.style.border ='1px solid #DDD';">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img class="img-show rounded-sm" src="{{backend_img}}/{{item.image}}" width="100%" height="130px"
                            background-position:center style="object-fit: cover">
                    </div>
                    <div class="col p-0 px-2">
                        <div class="mb-2 my-3">
                            <span
                                class="font-size-sm" style="color: #605E5C">{{item.created_date | date: "dd MMMM yyyy"}}</span>
                        </div>
                        <div class="mb-2 text-ellipsis-1">
                            <a class="title text-dark font-weight-bolder font-size-h7"
                                routerLink="/article/recommendation">{{item.title | maxLength: 35}}</a>
                        </div>
                        <p class="text-desc mb-1 text-ellipsis-2">
                            {{item.desc | maxLength: 45}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngx-slick-carousel>