<div class="d-flex justify-content-between mb-5">
    <h3 class="">
        <div class="font-weight-bolder text-dark">Rekomendasi Untuk Kamu</div>
        <div class="text-muted font-weight-bold font-size-sm">
            Informasi PAKAR yang direkomendasikan sesuai <i>jobdesk</i> Kamu
        </div>
    </h3>
    <div class="d-flex align-items-end">
        <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
            Lihat semua >
        </span>
    </div>
</div>

<ngb-carousel>
    <ng-template ngbSlide *ngFor="let item of dataList;">
        <ng-container [ngTemplateOutlet]="carouselRow" [ngTemplateOutletContext]="{row:item}"></ng-container>
    </ng-template>
</ngb-carousel>

<ng-template #carouselRow let-row="row">
    <div class="row m-0">
        <ng-container *ngFor="let item of row">
            <ng-container [ngTemplateOutlet]="carouselItem" [ngTemplateOutletContext]="{item:item}"></ng-container>
        </ng-container>
    </div>
</ng-template>
<ng-template #carouselItem let-item="item">
    <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD; box-shadow: 0px 4px 8px 0px #0000001A;">
        <div class="row">
            <div class="col-md-auto p-0">
                <img class="img-show" src="{{backend_img}}/articles/{{item.img}}" width="100%" height="130px"
                    background-position:center>
            </div>
            <div class="col p-0 px-2">
                <div class="mb-2"><a
                        class="text-muted font-weight-bold font-size-sm">{{item.created_date | date: "dd MMMM yyyy"}}</a>
                </div>
                <div class="mb-2">
                    <a class="text-dark font-weight-bold font-size-h7" href="#" routerLink="/">{{item.title}}</a>
                </div>
                <p class="text-desc mb-1">
                    {{item.desc}}
                </p>
            </div>
        </div>
    </div>
</ng-template>