:host ::ng-deep .carousel {
  @media (min-width: 1280px) {
    .img-show {
      width: 130px;
    }
  }

  .control-c {
    width: 32px;
    height: 32px;
  }

  .slick-prev {
    left: -10px;
    z-index: 1;
  }

  .slick-next {
    right: -10px;
  }

  .slick-disabled {
    opacity: 0;
  }

}
