<div #inputLength class="input-with-length d-flex align-items-center justify-content-between pr-1"
    [ngClass]="{hasError : hasError}">
    <!-- (change)="onChange.emit(value)" -->
    <input #theInput type="text" class="form-control" [placeholder]="placeholder" required autocomplete="off"
        [(ngModel)]="value" [maxlength]="maxlength" (ngModelChange)="_onChange($event)" (blur)="_onTouched(value)"
        [disabled]="disabled">
    <span *ngIf="maxlength && value" class="text-muted">{{value ? value.length : 0}}/{{maxlength}}</span>
</div>