<div class="pakar-new-card pt-10">
    <div>
        <div class="font-weight-bolder text-dark font-size-lg">PAKAR Terbaru</div>
        <div class="text-muted font-weight-bold font-size-sm">Kumpulan informasi pakar yang baru diupdate
        </div>
    </div>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="row m-0 mt-5">
                <div class="col-lg-6 col-xxl-4 mb-7 rounded-sm" style="border: 1px solid #DDD;">
                    <div>
                        <div>Kiri 1-1</div>
                        <div>tanggal</div>
                        <div>Title</div>
                        <div>Deskripsi</div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-7 rounded-sm" style="border: 1px solid #DDD;">
                    <div>
                        <div>Kiri 1-2</div>
                        <div>tanggal</div>
                        <div>Title</div>
                        <div>Deskripsi</div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-7 rounded-sm" style="border: 1px solid #DDD;">
                    <div>
                        <div>Kiri 1-3</div>
                        <div>tanggal</div>
                        <div>Title</div>
                        <div>Deskripsi</div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row m-0 mt-5">
                <div class="col-lg-6 col-xxl-4 mb-7 rounded-sm" style="border: 1px solid #DDD;">
                    <div>
                        <div>Kiri 2-1</div>
                        <div>tanggal</div>
                        <div>Title</div>
                        <div>Deskripsi</div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-7 rounded-sm" style="border: 1px solid #DDD;">
                    <div>
                        <div>Kiri 2-2</div>
                        <div>tanggal</div>
                        <div>Title</div>
                        <div>Deskripsi</div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-7 rounded-sm" style="border: 1px solid #DDD;">
                    <div>
                        <div>Kiri 2-3</div>
                        <div>tanggal</div>
                        <div>Title</div>
                        <div>Deskripsi</div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row m-0 mt-5">
                <div class="col-lg-6 col-xxl-4 mb-7 rounded-sm" style="border: 1px solid #DDD;">
                    <div>
                        <div>Kiri 3-1</div>
                        <div>tanggal</div>
                        <div>Title</div>
                        <div>Deskripsi</div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-7 rounded-sm" style="border: 1px solid #DDD;">
                    <div>
                        <div>Kiri 3-2</div>
                        <div>tanggal</div>
                        <div>Title</div>
                        <div>Deskripsi</div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-7 rounded-sm" style="border: 1px solid #DDD;">
                    <div>
                        <div>Kiri 3-3</div>
                        <div>tanggal</div>
                        <div>Title</div>
                        <div>Deskripsi</div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>