<div class="d-flex justify-content-between mb-5">
    <h3 class="">
        <div class="font-weight-bolder text-dark">PAKAR Terbaru</div>
        <div class="text-muted font-weight-bold font-size-sm">
            Kumpulan informasi pakar yang baru diupdate
        </div>
    </h3>
    <div class="d-flex align-items-end">
        <span href="#" class="navi-link cursor-pointer text-primary font-weight-bold font-size-sm">
            Lihat semua >
        </span>
    </div>
</div>
<ngb-carousel data-interval="false">
    <ng-template ngbSlide>
        <div class="row m-0">
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="./assets/media/svg/bca/homepage/terbaru/kredit-lokal-sme.svg" width="110px"
                            height="110px" background-position:center>
                    </div>
                    <div class="col px-2 py-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                11 November 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Kredit Lokal SME
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="./assets/media/svg/bca/homepage/terbaru/tahapan.svg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2 py-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                29 September 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Tahapan
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-0 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="./assets/media/svg/bca/homepage/terbaru/welma.svg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2 py-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                8 Agustus 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Welma
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row m-0">
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="./assets/media/svg/bca/homepage/terbaru/kredit-lokal-sme.svg" width="110px"
                            height="110px" background-position:center>
                    </div>
                    <div class="col px-2 py-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                11 November 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Kredit Lokal SME - 2
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="./assets/media/svg/bca/homepage/terbaru/tahapan.svg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2 py-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                29 September 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Tahapan - 2
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-0 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="./assets/media/svg/bca/homepage/terbaru/welma.svg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2 py-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                8 Agustus 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Welma - 2
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row m-0">
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="./assets/media/svg/bca/homepage/terbaru/kredit-lokal-sme.svg" width="110px"
                            height="110px" background-position:center>
                    </div>
                    <div class="col px-2 py-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                11 November 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Kredit Lokal SME - 3
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="./assets/media/svg/bca/homepage/terbaru/tahapan.svg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2 py-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                29 September 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Tahapan - 3
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col rounded-sm mr-0 mb-7" style="border: 1px solid #DDD;">
                <div class="row">
                    <div class="col-md-auto p-0">
                        <img src="./assets/media/svg/bca/homepage/terbaru/welma.svg" width="110px" height="110px"
                            background-position:center>
                    </div>
                    <div class="col px-2 py-2">
                        <div>
                            <a class="text-muted font-weight-bold font-size-sm">
                                8 Agustus 2020
                            </a>
                        </div>
                        <br>
                        <div>
                            <a class="text-dark font-weight-bold font-size-h7">
                                Welma - 3
                            </a>
                        </div>
                        <div>
                            <span class="text-muted font-weight-bold font-size-sm"
                                style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 110px;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor
                                incididunt ut labore et dolore magna aliqua.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</ngb-carousel>