<div class="container-homepage" style="padding: 15px;">
    <div class="card card-custom">
        <div class="card-header border-0">
            <h3 class="card-title align-items-start flex-column">
                <span class="font-weight-bolder text-dark">Selamat datang di PAKAR</span>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">Apa yang ingin kamu cari?</span>
            </h3>
        </div>
        <div class="card-body pt-0">
            <div class="input-group">
                <input class="form-control border-end-0 border rounded-pill" type="text" value="Cari di PAKAR..."
                    id="example-search-input">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
                        type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <div style="margin-top: 10px;"></div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Cari di PAKAR..." aria-label="Cari di PAKAR..."
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-custom" style="margin-top: 20px;">
        <div class="card-header border-0 py-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="font-weight-bolder text-dark">Kategori Menu</span>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">Baca seluruh artikle PAKAR sesuai kategori
                    menu yang ada</span>
            </h3>
        </div>
        <div class="card-body p-0 position-relative overflow-hidden">
            <div class="card-spacer">
                <div class="row m-0">
                    <div class="col bg-light-warning px-6 py-8 rounded-xl mr-7 mb-7">
                        <span [inlineSVG]="'./assets/media/svg/icons/Media/Equalizer.svg'"
                            class="svg-icon svg-icon-3x svg-icon-warning d-block my-2"></span>
                        <a class="text-warning font-weight-bold font-size-h6">
                            Aktivitas Cabang
                        </a>
                        <div>
                            <small>
                                Daftar operasional cabang yang dikategorikan berdasarkan tugasnya.
                            </small>
                            <ul>
                                <li>Pelaku Cabang</li>
                                <li>Bagian Unit Cabang</li>
                                <li>Aktivitas Unit Cabang</li>
                            </ul>
                            <a>Lihat Semua ></a>
                        </div>
                    </div>
                    <div class="col bg-light-primary px-6 py-8 rounded-xl mr-7 mb-7">
                        <span [inlineSVG]="'./assets/media/svg/icons/Media/Playlist2.svg'"
                            class="svg-icon svg-icon-3x svg-icon-warning d-block"></span>
                        <a href="#" class="text-primary font-weight-bold font-size-h6">
                            Produk Untuk Nasabah
                        </a>
                        <div>
                            <small>
                                Produk BCA yang digunakan langsung oleh nasabah seperti tabungan e-banking dll.
                            </small>
                            <ul>
                                <li>Pelaku Cabang</li>
                                <li>Bagian Unit Cabang</li>
                                <li>Aktivitas Unit Cabang</li>
                            </ul>
                            <a>Lihat Semua ></a>
                        </div>
                    </div>
                    <div class="col bg-light-success px-6 py-8 rounded-xl mr-7 mb-7">
                        <span [inlineSVG]="'./assets/media/svg/icons/Media/Music.svg'"
                            class="svg-icon svg-icon-3x svg-icon-warning d-block my-2"></span>
                        <a href="#" class="text-success font-weight-bold font-size-h6">
                            Aplikasi/Mesin
                        </a>
                        <div>
                            <small>
                                Daftar operasional cabang yang dikategorikan berdasarkan tugasnya.
                            </small>
                            <ul>
                                <li>Pelaku Cabang</li>
                                <li>Bagian Unit Cabang</li>
                                <li>Aktivitas Unit Cabang</li>
                            </ul>
                            <a>Lihat Semua ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-custom" style="margin-top: 20px;">
        <div class="card-header border-0 py-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="font-weight-bolder text-dark">Rekomendasi Untuk Kamu</span>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">
                    Informasi PAKAR yang direkomendasikan sesuai <i>jobdesk</i> Kamu
                </span>
            </h3>
        </div>
        <div class="card-body p-0 position-relative overflow-hidden">
            <div class="card-spacer">
                <div class="row m-0">
                    <div class="col px-5 py-5 rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                        <div>
                            <div>Kiri</div>
                            <div>tanggal</div>
                            <div>Title</div>
                            <div>Deskripsi</div>
                        </div>
                    </div>
                    <div class="col px-5 py-5 rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                        <div>
                            <div>Kiri</div>
                            <div>tanggal</div>
                            <div>Title</div>
                            <div>Deskripsi</div>
                        </div>
                    </div>
                    <div class="col px-5 py-5 rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                        <div>
                            <div>Kiri</div>
                            <div>tanggal</div>
                            <div>Title</div>
                            <div>Deskripsi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-custom" style="margin-top: 20px;">
        <div class="card-header border-0 py-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="font-weight-bolder text-dark">PAKAR Terbaru</span>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">
                    Kumpulan informasi pakar yang baru diupdate
                </span>
            </h3>
        </div>
        <div class="card-body p-0 position-relative overflow-hidden">
            <div class="card-spacer">
                <div class="row m-0">
                    <div class="col px-5 py-5 rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                        <div>
                            <div>Kiri</div>
                            <div>tanggal</div>
                            <div>Title</div>
                            <div>Deskripsi</div>
                        </div>
                    </div>
                    <div class="col px-5 py-5 rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                        <div>
                            <div>Kiri</div>
                            <div>tanggal</div>
                            <div>Title</div>
                            <div>Deskripsi</div>
                        </div>
                    </div>
                    <div class="col px-5 py-5 rounded-sm mr-7 mb-7" style="border: 1px solid #DDD;">
                        <div>
                            <div>Kiri</div>
                            <div>tanggal</div>
                            <div>Title</div>
                            <div>Deskripsi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>