<div style="background:white">
    <!-- <div class="container-homepage pt-25 px-40 container-search" style="
        background-image: url('{{background_image}}');">
        <app-search></app-search>
    </div> -->
    <app-scroll-down ></app-scroll-down>
    <div class="container-bg" 
    style="background-image: url('{{background_image}}');">
    </div>
    <div class="container-search px-40">
        <app-search></app-search>
    </div>
    <ng-container *ngFor="let row of sortingList$ | async">
        <ng-container *ngIf="row == 'category'">
            <div class="container-homepage px-40 mt-20" style="
                background-image: url('./assets/media/svg/bca/homepage/{{background_category_menu}}');
                background-repeat: no-repeat;
                background-position: bottom;">
                <app-kategori-menu></app-kategori-menu>
            </div>
        </ng-container>
        <ng-container>
        </ng-container>
        <ng-container *ngIf="row == 'recommendation'">
            <div class="container-homepage px-40 mt-20">
                <app-recommendation></app-recommendation>
            </div>
        </ng-container>
        <ng-container *ngIf="row == 'news'">
            <div class="container-homepage px-40 mt-20 pt-10" style="
                background-image: url('./assets/media/svg/bca/homepage/pakar-new.svg');
                background-repeat: no-repeat;
                background-position: bottom;
                min-height: 286px;
            ">
                <app-terbaru></app-terbaru>
            </div>
        </ng-container>
        <ng-container *ngIf="row == 'popular'">
            <div class="container-homepage px-40 mt-20" style="
                background-image: url('./assets/media/svg/bca/homepage/bg-wave.svg');
                background-repeat: no-repeat;
                background-position: bottom;">
                <app-popular></app-popular>
            </div>
        </ng-container>
    </ng-container>
</div>