:host ::ng-deep {

  .kt_quick_notifications_toggle {
    position: relative;

    .label {
      position: absolute;
      font-size: 8px;
      right: 2px;
      top: 10px;
      width: 14px;
      height: 14px;

      &.label-number {
        background: #D83B01;
        border: 1px solid #1995D1;
        box-sizing: border-box;
        color: white;
      }
    }
  }

  .btn.btn-clean .svg-icon svg g [fill] {
    transition: fill 0.3s ease;
    fill: white;
  }

  .btn.btn-clean {
    color: white;
    border-radius: 0;
    height: 100% !important;

    &:hover {
      background-color: #0F5EA9 !important;
      color: white !important;

      .svg-icon svg g [fill] {
        fill: white !important;
      }
    }
  }

  .show .btn.btn-clean {
    background-color: #0F5EA9 !important;
    color: white !important;

    .svg-icon svg g [fill] {
      fill: white;
    }
  }


  .dropdown-menu {
    border: 1px solid #dddddd;
    box-shadow: 0px 4px 8px 0px #0000001a;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
  }

}
