:host {
    .logo {
      line-height: 0.9;
      color: white;
      .top {
          font-size: 24px;
          font-weight: bold;
          font-style: italic;
      }
      .bottom {
          font-size: 10px;
      }
    }
  }
  