//
// Content
//

// Desktop Mode
@include media-breakpoint-up(lg) {
  .content {
	padding: 0;
    // padding: 0;
    // background-image: url('http://localhost:8080/themes/homepage/detault_top.svg');
    // background-repeat: no-repeat;
    // margin-top: -2px;
    // margin-left: -1px;

    // Fixed Footer Mode
    .footer-fixed & {
      padding-bottom: get($footer-config, fixed, height);
    }
  }
}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {
  .content {
    padding: 0 get($page-padding, tablet-and-mobile);

    // Subheader Enabled & Subheader Transparent Modes
    .subheader-enabled.subheader-transparent & {
      padding-top: 0;
    }
  }
}
