//
// Base
//

// Body
body {
  background: $page-bg;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #C8C6C4;
  border-radius: 100px;
}

// Desktop Mode
@include media-breakpoint-up(lg) {

  // Wrapper
  .wrapper {

    // Fixed Header
    .header-fixed & {
      padding-top: get($header-config, desktop, fixed, height);
    }

    // Fixed Content Head
    .header-fixed.subheader-fixed.subheader-enabled & {
      padding-top: get($header-config, desktop, fixed, height) + get($subheader-config, fixed, height);
    }

    // Fixed Aside
    .aside-fixed & {
      padding-left: get($aside-config, base, width);
    }

    // Minimize Aside
    .aside-fixed.aside-minimize:not(.aside-minimize-hover) & {
      // padding-left: get($aside-config, base, minimized-width);
      padding-left: 0;
    }
  }

  // Container
  .container {
    padding: 0px;
    max-width: none;
  }

  .container-fluid {
    padding: 0 get($page-padding, desktop);
  }

  // .content-container {
  //   padding: get($page-padding, desktop);
  // }
}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {

  // Wrapper
  .wrapper {

    // Fixed Header
    .header-mobile-fixed & {
      padding-top: get($header-config, tablet-and-mobile, fixed, height);
    }

    // Fixed Subheader
    .header-mobile-fixed.subheader-mobile-fixed.subheader-enabled & {
      padding-top: get($header-config, tablet-and-mobile, fixed, height) + get($subheader-config, fixed, height-mobile);
    }
  }

  // Container
  .container {
    max-width: none;
    padding: 0;
  }

  .container-fluid {
    max-width: none;
    padding: 0 get($page-padding, tablet-and-mobile);
  }
}

//ckeditor
.ck.editor[role="textbox"] {
  font-family: "Calibri";
  font-size: 11pt;
}

.ck-placeholder {
  white-space: pre-wrap;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #a19f9d;
}

.ck-font-size-dropdown .ck-dropdown__arrow {
  width: 62px !important;
}
.ck-font-size-dropdown {
  width: 50px !important;
}
