:host {
  .kategori-menu-card {
    // box-shadow: 0px 4px 8px 0px #0000001A;
    min-height: 285px;
    background-color: white;
  }
}

:host ::ng-deep .navi {
  .navi-item .navi-link {
    color: #3699FF;
    padding: 0.75rem 0;
  }
  .navi-item .navi-link:hover {
    color: darkblue;
    padding: 0.75rem .5rem;
  }
}
