<div class="mt-10">
    <h3>
        <div class="font-weight-bolder text-dark">Kategori Menu</div>
        <div class="text-muted font-weight-bold font-size-sm">
            Baca seluruh artikel PAKAR sesuai kategori menu yang ada
        </div>
    </h3>
    <div class="row m-0 mt-7">
        <div class="col-lg-4 col-xxl-4 mb-7" *ngFor="let item of listData;let i = index">
            <div class="text-center">
                <img src="{{backend_img}}/{{item.image}}" style="max-width: 100px; max-height: 100px;">
            </div>
            <div class="card-shadow border-1 rounded-sm mt-n15 p-5">
                <div class="pt-15"></div>
                <div><a routerLink="/article/list/{{item.id}}"
                        class="text-warning font-weight-bold font-size-h6">{{item.title}}</a></div>
                <small>{{item.desc}}</small>
                <ul class="navi navi-hover">
                    <li class="navi-item" *ngFor="let link of item.menus | slice:0:3">
                        <a routerLink="/article/list/{{link.id}}" class="navi-link cursor-pointer">{{link.title}}</a>
                    </li>
                    <!-- <li class="navi-item"><a routerLink="" class="navi-link cursor-pointer">Bagian Unit Cabang</a></li>
                    <li class="navi-item"><a routerLink="" class="navi-link cursor-pointer">Aktivitas Unit Cabang</a></li> -->
                    <li class="navi-item">
                        <a routerLink="/article/list/{{item.id}}" class="navi-link cursor-pointer">Lihat Semua ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>