<div class="mt-10">
    <h3 class="ml-2">
        <div class="font-weight-bolder text-dark">Kategori Menu</div>
        <div class="font-weight-normal font-size-sm" style="color: #605E5C">
            Baca seluruh artikel PAKAR sesuai kategori menu yang ada
        </div>
    </h3>
    <div class="row m-0 mt-7">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-7" *ngFor="let item of listData;let i = index">
            <div class="menu-image text-center">
                <img src="{{backend_img}}/{{item.image}}" style="max-width: 100px; max-height: 100px;">
            </div>
            <div class="kategori-menu-card card-shadow border-1 rounded-sm mt-n15 p-5">
                <div class="pt-15"></div>
                <div>
                    <a routerLink="/struktur/list/{{item.id}}"
                        class="text-dark font-weight-bold font-size-h6 mb-1 text-ellipsis-1">{{item.title}}</a>
                </div>
                <small class="text-ellipsis-2" style="color: #605E5C">{{item.desc}}</small>
                <ul class="navi navi-hover">
                    <li class="navi-item" *ngFor="let link of item.menus | slice:0:3">
                        <a routerLink="/struktur/list/{{link.id}}" class="navi-link cursor-pointer">
                            <span class="text-ellipsis-1">{{link.title}}</span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a routerLink="/struktur/list/{{item.id}}" class="navi-link cursor-pointer">Lihat Semua ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>