$bca-color: #0078D4;
$bca-color-dark: #0F5EA9;

.pakar-color-dark {
  color: $bca-color-dark !important;
}

.pakar-color {
  color: $bca-color !important;
}

.font-size-14 {
  font-size: 0.875rem !important;
}

.font-size-16 {
  font-size: 1rem !important;
}

.font-size-18 {
  font-size: 1.125rem !important;
}

.font-size-20 {
  font-size: 1.25rem !important;
}

.font-size-24 {
  font-size: 1.5rem !important;
}

.font-size-26 {
  font-size: 1.625rem !important;
}

.font-size-28 {
  font-size: 1.75rem !important;
}

.font-bold-600 {
  font-weight: 600;
}

.font-bold-700 {
  font-weight: 700;
}

.pakar-container {
  background-color: white;
  overflow-x: hidden;
  min-height: calc(100vh - 50px);
}

.pakar-text-header-18 {
  color: #201F1E;
  @extend .font-bold-600;
  @extend .font-size-18;
}

.pakar-text-header {
  color: #201F1E;
  @extend .font-bold-600;
  @extend .font-size-28;
}

.pakar-text-header-desc {
  color: #605E5C;
  font-weight: 400;
  @extend .font-size-16;
}

.btn {
  &.btn-blue {
    color: white;
    @extend .font-bold-600;
    background-color: #0078D4;

    &.btn-clean,
    &.btn-clean:hover {
      background-color: transparent;
    }

    i,
    span {
      color: #0078D4;
    }

    &:disabled {
      background-color: #A19F9D;
      cursor: not-allowed;
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: $bca-color-dark;

      i,
      span {
        color: darkblue !important;
      }
    }
  }

}

.input-search {
  padding-left: 25%;
  padding-right: 25%;

  .input-group {
    background-color: white;
    border: 1px solid #C8C6C4;
    border-radius: 20px;
    padding-left: 15px;
    overflow: hidden;

    .form-control-clear.btn-clean {
      background-color: transparent;
      border-color: transparent;
    }

    input {
      border: none;
    }

    .btn {
      border-color: transparent;
      background: white;
      border-radius: 0;

      .fa {
        color: #0F5EA9;
      }
    }

    .input-separator {
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
      width: 1px;
      background-color: #C8C6C4;
    }

    .btn:hover {
      background-color: #C8C6C4;
      border-color: #C8C6C4;

      .fa {
        color: #C8C6C4;
      }
    }

    .btn-clean:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }
}

.back-panel {

  a,
  .fa,
  .far,
  .fas {
    color: white;
  }

  a:hover {
    color: #0078D4;

    .fa,
    .far,
    .fas {
      color: #0078D4;
    }
  }
}
