.img-show {
    background-size: 307px 425px;
}

ul {
    padding-inline-start: 18px;
}

.symbol .symbol-label {
    color: white;
    background-color: #4F6BED;
}

:host ::ng-deep .top-bar {
    position: fixed;
    z-index: 2;
    top: 50px;
    height: 48px;
    background: #F3F2F1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    width: 100vw;
  
    .link {
      padding: 0 10px;
    }
  
    .separator {
      background-color: #C8C6C4;
      width: 1.5px;
      height: 20px;
      margin: 0 10px;
    }
  
    .svg-icon {
      margin-right: 8px;
  
      svg {
        width: unset;
        height: unset;
      }
    }
  }