<div style="
background-image: url('./assets/media/images/struktur_bg.svg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 184px;
"></div>
<div class="top-bar d-flex flex-row justify-content-between" *ngIf="!hideTopbar">
    <div class="d-flex flex-row align-items-center">
        <a href="#" class="link text-dark d-flex flex-row pl-8" (click)="onCancel($event)">
            <div [inlineSVG]="'./assets/media/svg/bca/icon/edit-document.svg'" cacheSVG="true" class="svg-icon"></div>
            <div>Kembali ke Halaman Editor</div>
        </a>
    </div>
    <div class="d-flex flex-row align-items-center">
        <a href="#" class="btn btn-link link text-dark d-flex flex-row" (click)="onSave($event)"
            [ngClass]="{disabled:!btnSaveEnabled}">
            <div [inlineSVG]="'./assets/media/svg/bca/icon/save.svg'" cacheSVG="true" class="svg-icon"></div>
            <div>Simpan</div>
        </a>
        <div class="separator"></div>
        <a href="#" class="btn btn-link link text-dark d-flex flex-row" (click)="onSaveSend($event)"
            [ngClass]="{disabled:!btnSaveSendEnabled}">
            <div [inlineSVG]="'./assets/media/svg/bca/icon/send.svg'" cacheSVG="true" class="svg-icon"></div>
            <div>Simpan & Kirim</div>
        </a>
    </div>
</div>

<!-- Alert -->
<div class="mx-15" id="alert">
    <div class="alert d-flex flex-grow justify-content-between p-8 align-items-center alert-dismissible fade show"
        *ngIf="alert" role="alert">
        <div class="d-flex flex-row">
            <div [inlineSVG]="'./assets/media/svg/bca/icon/success.svg'" cacheSVG="true" class="svg-icon"></div>
            &nbsp;&nbsp;
            <div class="font-weight-bold">{{ alertMessage }}</div>
        </div>
        <button type="button" class="btn btn-icon" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()">
            <i [inlineSVG]="'./assets/media/svg/bca/icon/close.svg'" cacheSVG="true"></i>
        </button>
    </div>
</div>

<div class="mx-15 mt-n25">
    <div class="back-panel" *ngIf="articleDTO">
        <pakar-breadcrumbs [node]="struktur$" [article]="articleDTO">
        </pakar-breadcrumbs>
    </div>
    <ng-container *ngIf="articleDTO">
        <div class="pakar-container h-100 p-8 d-flex flex-column flex-column-auto flex-grow"
            style="min-height: initial;">
            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row">
                    <span class="pakar-text-header">{{articleDTO.title}}</span>
                    <span *ngIf="!articleDTO.isPublished"><sup class="fb7 fs12 txt-new">(new)</sup></span>
                </div>
                <!-- on save -->
                <div class="d-flex flex-row" *ngIf="!onPreview">
                    <!-- Expand & Collapse -->
                    <div class="btn btn-link" *ngIf="!isExpand" (click)="expandCollapse()"
                        [ngClass]="{'disabled' : articleDTO.contents.length == 0}">
                        <span [inlineSVG]="'./assets/media/svg/bca/icon/expand-topik.svg'" cacheSVG="true"
                            class="svg-icon menu-icon"></span>
                        <span class="font-weight-bold" style="color: #0F5EA9;">Expand Topik</span>
                    </div>
                    <div class="btn btn-link" *ngIf="isExpand" (click)="expandCollapse()"
                        [ngClass]="{'disabled' : articleDTO.contents.length == 0}">
                        <span [inlineSVG]="'./assets/media/svg/bca/icon/collapse-topik.svg'" cacheSVG="true"
                            class="svg-icon menu-icon"></span>
                        <span class="font-weight-bold" style="color: #0F5EA9;">Collapse Topik</span>
                    </div>

                    <!-- Ubah Artikel -->
                    <div (click)="onEdit($event)" class="btn btn-link" *ngIf="editable && role != 'READER'">
                        <span [inlineSVG]="'./assets/media/svg/bca/icon/edit-document-dark.svg'" cacheSVG="true"
                            class="svg-icon menu-icon"></span>
                        <span class="font-weight-bold" style="color: #0F5EA9;">Ubah Artikel</span>
                        <!-- <span class="font-weight-bold" style="color: #0F5EA9;">-{{readerView}}-{{isAllowEdit}</span> -->
                    </div>
                    <ng-container *ngIf="(readerView && isAllowEdit) || editable">
                        <div [routerLink]="['/article/form/'+articleDTO.id, {isEdit:true}]" class="btn btn-link"
                            *ngIf="editable">
                            <span [inlineSVG]="'./assets/media/svg/bca/icon/share.svg'" cacheSVG="true"
                                class="svg-icon menu-icon"></span>
                            <span class="font-weight-bold" style="color: #0F5EA9;">Bagikan</span>
                        </div>
                        <div [routerLink]="['/article/form/'+articleDTO.id, {isEdit:true}]" class="btn btn-link"
                            *ngIf="editable">
                            <span [inlineSVG]="'./assets/media/svg/bca/icon/bookmark-add.svg'" cacheSVG="true"
                                class="svg-icon menu-icon"></span>
                            <span class="font-weight-bold" style="color: #0F5EA9;">Bookmark</span>
                        </div>
                    </ng-container>
                </div>
            </div>
            <span class="my-4" style="color: #605E5C;">Terakhir diubah oleh
                <span class="symbol symbol-lg-25 symbol-25 mx-2">
                    <span class="symbol-label font-size-h7 font-weight-bold rounded-xl px-2 ">{{aliasName}}</span>
                </span>
                <span class="font-weight-bolder font-size-base d-none d-md-inline mr-2"
                    style="text-transform: uppercase;">{{fullName}}</span>
                <span> pada </span>
                <span class="font-size-sm" style="color: black;">{{ changed_date | date: "dd/MM/yyyy"}}</span>
            </span>

            <div class="row d-flex flex-wrap justify-content-between">
                <!-- left side -->
                <div class="col">
                    <span class="pakar-text-header-desc ckeditor-page-view"
                        [innerHTML]="(articleDTO.desc || '&nbsp;') | sanitizeHtml">&nbsp;</span>
                    <div class="my-3" *ngIf="!hideTable">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>Fasilitas</th>
                                    <th>Layanan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        <br><br>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        <br><br>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="articleDTO.contents">
                        <mat-accordion [togglePosition]="'before'" multi="true">
                            <mat-expansion-panel class="acc-level acc-level-1"
                                *ngFor="let content of articleDTO.contents" [expanded]="content.expanded">
                                <mat-expansion-panel-header [@.disabled]="true">
                                    <mat-panel-title class="fs16pt-em">
                                        <span [innerHTML]="content.title">&nbsp;</span>
                                    </mat-panel-title>
                                    <ng-container *ngIf="(readerView && isAllowEdit) || editable"
                                        [ngTemplateOutlet]="rightIcon" [ngTemplateOutletContext]="{ data: content}">
                                    </ng-container>
                                </mat-expansion-panel-header>
                                <div class="content">
                                    <div class="p-3 ckeditor-page-view" [innerHTML]="(content.topicContent || '&nbsp;') | sanitizeHtml">
                                    </div>
                                    <ng-container *ngIf="content.children.length" [ngTemplateOutlet]="accordionChild"
                                        [ngTemplateOutletContext]="{ children: content.children, level:2, parents:[]}">
                                    </ng-container>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <hr>
                    <div class="faq mt-6" *ngIf="!hideFAQ">
                        <div class="d-flex flex-wrap justify-content-between">
                            <label class="font-weight-bolder text-dark mb-2">FAQ Tahapan</label>
                            <div class="d-flex mx-2">
                                <a class="navi-link" href="#">
                                    <a routerLink="/article/recommendation"
                                        class="navi-text cursor-pointer font-weight-bold font-size-sm">
                                        Lihat Semua
                                    </a>
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="sk-referensi mt-6" *ngIf="skReferences.length">
                        <label class="font-weight-bolder text-dark mb-2">SK/SE Referensi</label>
                        <div>
                            <ul *ngFor="let sk of skReferences">
                                <li> <u>{{sk.value}}</u> - {{sk.text.split(" - ")[1]}}</li>
                            </ul>
                        </div>
                        <a class="navi-link">
                            <a routerLink="" class="navi-text cursor-pointer font-weight-bold font-size-sm">
                                Selengkapnya >
                            </a>
                        </a>
                    </div>
                </div>

                <!-- right side -->
                <div class="col" style="max-width: 350px;">
                    <div class="mx-4 mb-5" style="text-align: center; min-width: 307px;">
                        <img class="img-show" [src]="imageSrc" background-position:center
                            style="object-fit: cover; width: 307px; height: 425px;">
                        <div class="mt-2">{{ imageTitle }}</div>
                        <hr>
                    </div>
                    <div class="video mx-4 mb-5" style="min-width: 307px;">
                        <iframe seamless frameborder=0 allowfullscreen webkitallowfullscreen mozallowfullscreen
                            *ngIf="showVideo" [src]="videoUrl" width="307" height="173">
                        </iframe>
                        <img class="img-show" *ngIf="!showVideo" [src]="noVideoPreview" background-position:center
                            style="object-fit: cover; width: 307px; height: 173px;">
                        <hr>
                    </div>
                    <div class="mx-4 mb-5" style="min-width: 307px;" *ngIf="relatedArticle.length">
                        <label class="font-weight-bolder text-dark mb-2">Informasi Terkait</label>
                        <div>
                            <ul *ngFor="let article of relatedArticle">
                                <li>
                                    <a [routerLink]="['/article/list/'+article.id]"
                                        [ngClass]={disabled:!editable}>{{article.text}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </ng-container>
    <pakar-scroll-top-down></pakar-scroll-top-down>
</div>

<ng-template #accordionChild let-children="children" let-level="level" let-parents="parents">
    <div style="border-bottom:1px solid #C8C6C4; height: 10px;"></div>
    <mat-accordion [togglePosition]="'before'" hideToggle="false" multi="true">
        <ng-container *ngFor="let content of children; let i = index">
            <div class="input-accordion-separator"></div>
            <mat-expansion-panel [@.disabled]="true" class="acc-level acc-level-{{level}}"
                [expanded]="content.expanded">
                <mat-expansion-panel-header>
                    <mat-panel-title class="d-flex flex-row fs16pt-em" [id]="'acc-title-'+content.id">
                        <span class="mr-2">{{numberingFormat(content)}}.</span>
                        <span [innerHTML]="content.title"></span>
                    </mat-panel-title>
                    <ng-container *ngIf="(readerView && isAllowEdit) || editable" [ngTemplateOutlet]="rightIcon"
                        [ngTemplateOutletContext]="{ data: content}">
                    </ng-container>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="content">
                        <div class="p-3 ckeditor-page-view">
                            <div>
                                <span [innerHTML]="(content.topicContent || '&nbsp;') | sanitizeHtml">&nbsp;</span>
                            </div>
                        </div>
                        <ng-container [ngTemplateOutlet]="accordionChild"
                            [ngTemplateOutletContext]="{ children: content.children, level : level+1, parents: parents.concat({id:content.id, no:content.no})}">
                        </ng-container>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>
</ng-template>

<ng-template #rightIcon let-data="data">
    <div class="right-icon d-flex flex-row align-items-center">
        <a href='#' class="btn-link" (click)="onEdit($event, data.id, data.title)">
            <span [inlineSVG]="'./assets/media/svg/bca/icon/pencil.svg'" cacheSVG="true"
                class="svg-icon svg-icon-sm accordion-icon mr-2"></span>
        </a>
    </div>
</ng-template>

<ng-template #carousel>
    <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
        style="width: 1185px;">
        <div ngxSlickItem *ngFor="let item of slides" class="slide my-3">
            <div class="mx-2">
                <div class="col rounded-sm" style="border: 1px solid #DDD; box-shadow: 0px 4px 8px 0px #0000001A; 
                height: 134px; display: flex; align-items: center;"
                    onmouseover="this.style.border ='1px groove #1995D1';"
                    onmouseout="this.style.border ='1px solid #DDD';">
                    <div class="row">
                        <div class="col p-0 px-2 m-4">
                            <div class="mb-2 text-ellipsis-1">
                                <a class="title text-dark font-weight-bolder font-size-h7"
                                    routerLink="/article/recommendation">
                                    {{item.title | maxLength: 35}}
                                </a>
                            </div>
                            <p class="text-desc mb-1 text-ellipsis-2"
                                style="word-wrap: break-word;">
                                {{item.desc | maxLength: 65}}
                                &nbsp;
                                <a routerLink="/article/recommendation"
                                    class="navi-text cursor-pointer font-weight-normal font-size-sm">
                                    Selengkapnya >
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel> -->
</ng-template>