<div style="
background-image: url('./assets/media/images/struktur_bg.svg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 184px;
"></div>
<div class="top-bar d-flex flex-row justify-content-between">
    <div class="d-flex flex-row align-items-center">
        <a href="#" class="link text-dark d-flex flex-row pl-8" (click)="onCancel($event)">
            <div [inlineSVG]="'./assets/media/svg/bca/icon/edit-document.svg'" cacheSVG="true" class="svg-icon"></div>
            <div>Kembali ke Halaman Editor</div>
        </a>
    </div>
    <div class="d-flex flex-row align-items-center">
        <a href="#" class="btn btn-link link text-dark d-flex flex-row">
            <div [inlineSVG]="'./assets/media/svg/bca/icon/save.svg'" cacheSVG="true" class="svg-icon"></div>
            <div>Simpan</div>
        </a>
        <div class="separator"></div>
        <a href="#" class="link text-dark d-flex flex-row">
            <div [inlineSVG]="'./assets/media/svg/bca/icon/send.svg'" cacheSVG="true" class="svg-icon"></div>
            <div>Simpan & Kirim</div>
        </a>
    </div>
</div>
<div class="mx-15 mt-n13">
    <div class="back-panel">
        <pakar-breadcrumbs [node]="struktur$"></pakar-breadcrumbs>
    </div>
    <ng-container>
        <div class="pakar-container h-100 p-8 d-flex flex-column flex-column-auto flex-grow"
            style="min-height: initial;">
            <span class="pakar-text-header">{{articleDTO.title}}</span>
            <span class="pakar-text-header-desc my-4" style="color: #605E5C;">Terakhir diubah oleh
                <span class="symbol symbol-lg-25 symbol-25 mx-2">
                    <span class="symbol-label font-size-h7 font-weight-bold rounded-xl px-2 ">{{aliasName}}</span>
                </span>
                <span class="font-weight-bolder font-size-base d-none d-md-inline mr-2"
                    style="text-transform: uppercase;">{{fullName}}</span>
                pada
                <span class="font-size-sm" style="color: black;">{{ changed_date | date: "dd/MM/yyyy"}}</span>
            </span>

            <div class="row d-flex flex-wrap justify-content-between">
                <!-- left side -->
                <div class="col">
                    <span class="pakar-text-header-desc">{{articleDTO.desc}}</span>
                    <div class="my-3" *ngIf="!hideTable">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>Fasilitas</th>
                                    <th>Layanan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        <br><br>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        <br><br>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                        <a href="">
                                            <li>Ipsum</li>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="p-3">
                        <mat-accordion [togglePosition]="'before'" multi="true">
                            <mat-expansion-panel class="acc-level acc-level-1"
                                *ngFor="let content of articleDTO.contents">
                                <mat-expansion-panel-header [@.disabled]="true">
                                    <mat-panel-title>
                                        <span>{{content.title}}</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    {{content.intro}}
                                    <ng-container *ngIf="content.children.length" [ngTemplateOutlet]="accordionChild"
                                        [ngTemplateOutletContext]="{ children: content.children, level:2, parents:[]}">
                                    </ng-container>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <hr>
                    <div class="faq mt-6">
                        <div class="d-flex flex-wrap justify-content-between">
                            <label class="font-weight-bolder text-dark mb-2">FAQ Tahapan</label>
                            <div class="d-flex mx-2">
                                <a class="navi-link" href="#">
                                    <a routerLink="/article/recommendation"
                                        class="navi-text cursor-pointer font-weight-bold font-size-sm">
                                        Lihat Semua
                                    </a>
                                </a>
                            </div>
                        </div>
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                            style="width: 1185px;">
                            <div ngxSlickItem *ngFor="let item of slides" class="slide my-3">
                                <div class="mx-2">
                                    <div class="col rounded-sm" style="border: 1px solid #DDD; box-shadow: 0px 4px 8px 0px #0000001A; 
                                    height: 134px; display: flex; align-items: center;"
                                        onmouseover="this.style.border ='1px groove #1995D1';"
                                        onmouseout="this.style.border ='1px solid #DDD';">
                                        <div class="row">
                                            <div class="col p-0 px-2 m-4">
                                                <div class="mb-2 text-ellipsis-1">
                                                    <a class="title text-dark font-weight-bolder font-size-h7"
                                                        routerLink="/article/recommendation">{{item.title | maxLength:
                                                        35}}</a>
                                                </div>
                                                <p class="text-desc mb-1 text-ellipsis-2" style="word-wrap: break-word;">
                                                    {{item.desc | maxLength: 65}}
                                                    &nbsp;
                                                    <a routerLink="/article/recommendation"
                                                        class="navi-text cursor-pointer font-weight-normal font-size-sm">
                                                        Selengkapnya >
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    <hr>
                    <div class="sk-referensi mt-6">
                        <label class="font-weight-bolder text-dark mb-2">SK/SE Referensi</label>
                        <div>
                            <ul *ngFor="let sk of skReferences">
                                <li> <u>{{sk.value}}</u> - {{sk.text.split(" - ")[1]}}</li>
                            </ul>
                        </div>
                        <a class="navi-link" href="#">
                            <a routerLink="" class="navi-text cursor-pointer font-weight-bold font-size-sm">
                                Selengkapnya >
                            </a>
                        </a>
                    </div>
                </div>

                <!-- right side -->
                <div class="col" style="max-width: 350px;">
                    <div class="mx-4 mb-5" *ngIf="!hideImage" style="text-align: center; min-width: 307px;">
                        <img class="img-show" src="./assets/media/bg/sc-home1-bg.png" background-position:center
                            style="object-fit: cover; width: 307px; height: 425px;">
                        <div class="mt-2">{{ imageName }}</div>
                        <hr>
                    </div>
                    <div class="video mx-4 mb-5" *ngIf="!hideVideo" style="min-width: 307px;">
                        <video src="{{videoUrl}}" width="307" height="173" controls>
                            <!-- <source src="https://myvideo.bca.co.id/viewerportal/bcavideo/video.vp?programId=esc_program%3A55071&contentAssocId=association%3A183713"> -->
                        </video>
                        <!-- <iframe seamless frameborder=0 allowfullscreen webkitallowfullscreen mozallowfullscreen
                            src="{{videoUrl}}"
                            width="307" height="173">
                        </iframe> -->
                        <hr>
                    </div>
                    <div class="mx-4 mb-5" style="min-width: 307px;">
                        <label class="font-weight-bolder text-dark mb-2">Informasi Terkait</label>
                        <div>
                            <ul *ngFor="let article of relatedArticle">
                                <li>{{article.text}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </ng-container>
</div>

<ng-template #accordionChild let-children="children" let-level="level" let-parents="parents">
    <div style="border-bottom:1px solid #C8C6C4; height: 10px;"></div>
    <mat-accordion [togglePosition]="'before'" hideToggle="false" multi="true">
        <ng-container *ngFor="let content of children; let i = index">
            <div class="input-accordion-separator"></div>
            <mat-expansion-panel [@.disabled]="true" class="acc-level acc-level-{{level}}">
                <div class="drag-placeholder"></div>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-ellipsis-1">
                        {{numberingFormat(content)}}. {{content.title}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="content">
                        <div class="p-3">
                            <div class="form-group">
                                <label>{{content.topicTitle}}</label>
                                <!-- <pakar-input-length placeholder="Masukkan judul topik disini (maks. 150 karakter)"
                                    [(ngModel)]="content.topicTitle" maxlength="150">
                                </pakar-input-length> -->
                            </div>
                            <div class="form-group">
                                <label>{{content.topicContent}}</label>
                                <!-- <ckeditor [editor]="editor" [config]="config" tagName="textarea"
                                    [(ngModel)]="content.topicContent"></ckeditor> -->
                                <!-- <textarea class="form-control" [(ngModel)]="content.topicContent"
                                placeholder="Masukkan Isi topik disini"></textarea> -->
                            </div>
                        </div>
                        <ng-container [ngTemplateOutlet]="accordionChild"
                            [ngTemplateOutletContext]="{ children: content.children, level : level+1, parents: parents.concat({id:content.id, no:content.no})}">
                        </ng-container>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>
</ng-template>