$acc-child-margin : 10px;

.img-show {
  background-size: 307px 425px;
}

ul {
  padding-inline-start: 18px;
}

.symbol .symbol-label {
  color: white;
  background-color: #4f6bed;
}

:host ::ng-deep .top-bar {
  position: fixed;
  z-index: 2;
  top: 50px;
  height: 48px;
  background: #f3f2f1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  width: 100vw;

  .link {
    padding: 0 10px;
  }

  .separator {
    background-color: #c8c6c4;
    width: 1.5px;
    height: 20px;
    margin: 0 10px;
  }

  .svg-icon {
    margin-right: 8px;

    svg {
      width: unset;
      height: unset;
    }
  }
}

:host ::ng-deep .alert {
  position: absolute;
  z-index: 3;
  top: 85px;
  width: 1605px;
  height: 52px;
  left: 50px;

  background: #EAFFEA;
  border: 1px solid #107C10;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

//carousel
:host ::ng-deep .carousel {
  .control-c {
    width: 32px;
    height: 32px;
  }

  .slick-prev {
    left: -10px;
    z-index: 1;
  }

  .slick-next {
    right: -10px;
  }

  .slick-disabled {
    opacity: 0;
  }
}

:host {
  .input-accordion-separator {
    height: $acc-child-margin;
    width: 100%;
    background-image: url('../../../../assets/media/images/tree-line-2.png');
    background-repeat: repeat-y;
  }

  .input-accordion-separator.empty {
    background-image: none;
  }
}

:host ::ng-deep .mat-accordion .mat-expansion-panel.acc-level {
  margin-bottom: 16px;
  border-radius: 4px !important;
  border: 1px solid #C8C6C4;
  box-shadow: none;

  .mat-expansion-panel-header {
    padding: 0.5rem 1rem;
    height: 35px;
    border-color: #C8C6C4;
    
  }
}