$acc-child-margin : 10px;

:host ::ng-deep {
  a.disabled {
    pointer-events: none;
  }

  .content {
    p {
      margin-bottom: 0;
    }
  }
}

.img-show {
  background-size: 307px 425px;
}

ul {
  padding-inline-start: 18px;
}

.symbol .symbol-label {
  color: white;
  background-color: #4f6bed;
}

:host ::ng-deep .top-bar {
  position: fixed;
  z-index: 2;
  top: 50px;
  height: 48px;
  background: #f3f2f1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  width: 100vw;

  .link {
    padding: 0 10px;
  }

  .separator {
    background-color: #c8c6c4;
    width: 1.5px;
    height: 20px;
    margin: 0 10px;
  }

  .svg-icon {
    margin-right: 8px;

    svg {
      width: unset;
      height: unset;
    }
  }
}

:host ::ng-deep .alert {
  position: absolute;
  z-index: 3;
  top: 85px;
  width: calc(100% - 7.75rem);
  // width: 94%;
  height: 52px;
  // left: 50px;

  background: #EAFFEA;
  border: 1px solid #107C10;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

//carousel
:host ::ng-deep .carousel {
  .control-c {
    width: 32px;
    height: 32px;
  }

  .slick-prev {
    left: -10px;
    z-index: 1;
  }

  .slick-next {
    right: -10px;
  }

  .slick-disabled {
    opacity: 0;
  }
}

:host ::ng-deep {
  .input-accordion-separator {
    height: $acc-child-margin;
    width: 100%;
    background-image: url('../../../../assets/media/images/tree-line-2.png');
    background-repeat: repeat-y;
  }

  .input-accordion-separator.empty {
    background-image: none;
  }

  .txt-new {
    color: #107C10;
  }

  .bg-new {
    background-color: #E7F2E7;

    &.tag-ul {
      position: relative;
      width: 100%;
      margin-bottom: 2px;

      .txt-new {
        position: absolute;
        top: 10px;
        right: 5px;
      }
    }
  }
}

:host ::ng-deep .mat-accordion .mat-expansion-panel.acc-level {

  .mat-expansion-panel-header {
    &.mat-expanded {
      background-color: #C3DEF8 !important;
    }
  }

  &.acc-level-2,
  &.acc-level-3,
  &.acc-level-4,
  &.acc-level-5 {
    .mat-expansion-panel-header.mat-expanded {
      background-color: transparent !important;
      span.mat-content {
        background-color: #C3DEF8 !important;
      }
    }
  }
}
