
  <!-- [ngStyle]="showAside ? {'box-shadow': '0px 4px 8px 0px #0202027b'} : {'box-shadow': '-2px 4px 8px 0px #0000001A'};" -->
  <!-- style="background: {{headerBackground}}; box-shadow: {{showAside ? '0px 4px 8px 0px #0202027b' : '-2px 4px 8px 0px #0000001A'}}" -->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses"
  [ngStyle]="{'background': headerBackground, 'box-shadow': showAside ? '0px 4px 8px 0px #0202027b' : '-2px 4px 8px 0px #0000001A'}"
  >
  <!-- routerLink="/"  -->
  <a class="brand-logo cursor-pointer" *ngIf="showAside" routerLink="/homepage">
    <!-- <app-header-menu></app-header-menu> -->
    <span class="pakar-logo" [inlineSVG]="'./assets/media/svg/bca/pakar_logo_white.svg'" cacheSVG="true"></span>
  </a>

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle" >
      <div class="logo" *ngIf="!showAside" (click)="asideShow()" (contextmenu)="onRightClick($event)">
        <span [inlineSVG]="'./assets/media/svg/icons/Text/Menu.svg'" cacheSVG="true"
          class="svg-icon svg-icon-xl svg-icon-white pl-1"></span>
        <div class="bottom">MENU</div>
      </div>
      <span [inlineSVG]="'./assets/media/svg/bca/close_white.svg'" cacheSVG="true" *ngIf="showAside" (click)="asideShow()" (contextmenu)="onRightClick($event)"></span>
      <!-- <small>Menu</small> -->
    </button>
  </ng-container>
</div>

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper" style="box-shadow: 0px 4px 8px 0px #0202027b;">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/">
      <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <ng-container *ngIf="menuConfig && menuConfig.items">
    <div id="kt_aside_menu" class="aside-menu" [ngClass]="asideMenuCSSClasses" data-menu-vertical="1"
      [attr.data-menu-scroll]="asideMenuScroll" [attr.data-menu-dropdown]="asideMenuDropdown"
      data-menu-dropdown-timeout="500">
      <!-- begin::Menu Nav -->
      <ul class="menu-nav" [ngClass]="ulCSSClasses">
        <ng-container *ngFor="let item of menuConfig.items">
          <ng-container *ngIf="item.level == 1 && item.edit == false" [ngTemplateOutlet]="menuItemTemplate"
            [ngTemplateOutletContext]="{ item: item }"></ng-container>

          <ng-container *ngIf="item.desc && item.level == 1" [ngTemplateOutlet]="menuItemSectionTemplate"
            [ngTemplateOutletContext]="{ item: item }"></ng-container>

          <ng-container *ngIf="item.separator" [ngTemplateOutlet]="menuItemSeparatorTemplate"></ng-container>

          <ng-container *ngIf="item.title && item.level > 1" [ngTemplateOutlet]="menu1LevelTemplate"
            [ngTemplateOutletContext]="{ item: item }"></ng-container>

          <ng-container *ngIf="item.title && item.level < 0" [ngTemplateOutlet]="lihatSemuaTemplate"
            [ngTemplateOutletContext]="{ item: item }"></ng-container>
        </ng-container>
      </ul>
      <!-- end::Menu Nav -->
    </div>
    <!--end::Menu Container-->
  </ng-container>
</div>
<!--end::Aside Menu-->

<!-- begin::1 Level -->
<ng-template #menu1LevelTemplate let-item="item">
  <!-- begin::if don't have submenu -->
  <ng-container *ngIf="!item.submenu">
    <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
      <a class="menu-link" *ngIf="!externalLink(item.uri)" [routerLink]="item.uri" routerLinkActive="active">
        <span *ngIf="item.svg" [inlineSVG]="item.svg" cacheSVG="true" class="arrow svg-icon menu-icon" ></span>
        <i *ngIf="!item.svg" class="menu-bullet menu-bullet-dot">
          <span></span>
        </i>
        <span class="menu-text" [translate]="item.translate">{{
          item.title
        }}</span>
      </a>
      <a class="menu-link" *ngIf="externalLink(item.uri)" href="{{item.uri}}">
        <span *ngIf="item.svg" [inlineSVG]="item.svg" cacheSVG="true" class="arrow svg-icon menu-icon"></span>
        <i *ngIf="!item.svg" class="menu-bullet menu-bullet-dot">
          <span></span>
        </i>
        <span class="menu-text" [translate]="item.translate">{{
          item.title
        }}</span>
      </a>
    </li>
  </ng-container>
  <!-- end::if don't have submenu -->

  <!-- begin::if has submenu -->
  <ng-container *ngIf="item.submenu">
    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
      [ngClass]="{ 'menu-item-open': isMenuItemActive(item.uri) }" routerLinkActive="menu-item-open">
      <a class="menu-link menu-toggle" [attr.href]="item.uri" routerLinkActive="active"
        [ngClass]="{ 'active ': isMenuItemActive(item.uri) }">
        <span [inlineSVG]="item.svg" cacheSVG="true" class="arrow svg-icon menu-icon"></span>
        <span class="menu-text" [translate]="item.translate"> {{
          item.title
        }}</span>
        <i class="menu-arrow" style="color: #0F5EA9"></i>
      </a>
      <div class="menu-submenu">
        <i class="menu-arrow"></i>
        <ul class="menu-subnav">
          <li class="menu-item menu-item-parent" aria-haspopup="true">
            <span class="menu-link">
              <span class="menu-text" [translate]="item.translate">{{
                item.title
              }}</span>
            </span>
          </li>
          <ng-container *ngFor="let sub of item.submenu" [ngTemplateOutlet]="menu2LevelTemplate"
            [ngTemplateOutletContext]="{ item: sub }"></ng-container>
        </ul>
      </div>
    </li>
  </ng-container>
  <!-- end::if has submenu -->
</ng-template>
<!-- end::1 Level -->

<!-- begin::2 Level -->
<ng-template #menu2LevelTemplate let-item="item">
  <!-- begin::if don't have submenu -->
  <ng-container *ngIf="!item.submenu">
    <li class="menu-item" routerLinkActive="menu-item-active" aria-haspopup="true" data-menu-toggle="hover">
      <a class="menu-link" [routerLink]="item.uri" routerLinkActive="active">
        <i class="menu-bullet menu-bullet-dot">
          <span></span>
        </i>
        <span class="menu-text" [translate]="item.translate">{{
          item.title
        }}</span>
      </a>
    </li>
  </ng-container>
  <!-- end::if don't have submenu -->

  <!-- begin::if has submenu -->
  <ng-container *ngIf="item.submenu">
    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
      [ngClass]="{ 'menu-item-open': isMenuItemActive(item.uri) }" routerLinkActive="menu-item-open">
      <a class="menu-link menu-toggle" [attr.href]="item.uri" [ngClass]="{ 'active ': isMenuItemActive(item.uri) }"
        routerLinkActive="active">
        <i class="menu-bullet menu-bullet-dot">
          <span></span>
        </i>
        <span class="menu-text parent-level3" [translate]="item.translate">{{
          item.title
        }}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="menu-submenu">
        <i class="menu-arrow"></i>
        <ul class="menu-subnav">
          <!-- submenu-->
          <ng-container *ngFor="let sub of item.submenu" [ngTemplateOutlet]="menu3LevelTemplate"
            [ngTemplateOutletContext]="{ item: sub }"></ng-container>
        </ul>
      </div>
    </li>
  </ng-container>
  <!-- end::if has submenu -->
</ng-template>
<!-- end::2 Level -->

<!-- begin::3 Level -->
<ng-template #menu3LevelTemplate let-item="item">
  <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
    <a class="menu-link" [routerLink]="item.uri" routerLinkActive="active">
      <i class="menu-bullet menu-bullet-dot">
        <span></span>
      </i>
      <span class="menu-text" [translate]="item.translate">{{
        item.title
      }}</span>
    </a>
  </li>
</ng-template>
<!-- end::3 Level -->

<!-- begin::Separator -->
<ng-template #menuItemSeparatorTemplate>
  <li class="menu-separator"><span></span></li>
</ng-template>
<!-- end::3 Separator -->

<!-- begin::Section -->
<ng-template #menuItemSectionTemplate let-item="item">
  <li class="menu-section">
    <a style="display: flex;  flex-grow: 1; align-items: stretch; position: relative;">
      <div class="icon mr-4" style="content: url( {{imgUrl+item.icon}} );"></div>
      <span class="menu-text" [translate]="item.translate">{{ item.title }}</span>
    </a>
  </li>
</ng-template>
<!-- end::Section -->

<ng-template #lihatSemuaTemplate let-item="item">
  <!-- begin::if don't have submenu -->
  <ng-container *ngIf="!item.submenu">
    <li class="" aria-haspopup="true" data-menu-toggle="hover" style="padding-left: 15px;">
      <a class="menu-link" [routerLink]="" (click)="updateMenu(item)" >
        <span cacheSVG="true" class="svg-icon menu-icon"></span>
        <span class="menu-text" style="color: #0F5EA9;">{{item.title}}</span>
        <i class="menu-icon"></i>
      </a>
    </li>
  </ng-container>
  <!-- end::if don't have submenu -->
</ng-template>


<ng-template #menuItemTemplate let-item="item">
  <!-- begin::if don't have submenu -->
  <ng-container *ngIf="!item.menus.length">
    <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover"
        routerLinkActive="menu-item-active"
        [ngStyle]="{'margin-top': item.sort == 100 ? '20px' : ''}"
    >
      <a class="menu-link" *ngIf="!externalLink(item.uri)" [routerLink]="item.uri" routerLinkActive="active">
        <span [inlineSVG]="imgUrl + item.icon" cacheSVG="true" class="svg-icon menu-icon"></span>
        <span class="menu-text" [translate]="item.translate">{{item.title}}</span>
      </a>
      <a class="menu-link" *ngIf="externalLink(item.uri)" href="{{item.uri}}">
        <span [inlineSVG]="imgUrl + item.icon" cacheSVG="true" class="svg-icon menu-icon"></span>
        <span class="menu-text" [translate]="item.translate">{{item.title}}</span>
      </a>
    </li>
  </ng-container>
  <!-- end::if don't have submenu -->

  <!-- begin::if has submenu -->
  <ng-container *ngIf="item.menus.length">
    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"
      [ngClass]="{ 'menu-item-open': isMenuItemActive(item.uri) }" routerLinkActive="menu-item-open">
      <a class="menu-link menu-toggle" [attr.href]="item.uri" routerLinkActive="active"
        [ngClass]="{ 'active ': isMenuItemActive(item.uri) }">
        <span [inlineSVG]="imgUrl + item.icon" cacheSVG="true" class="svg-icon menu-icon"></span>
        <span class="menu-text" [translate]="item.translate">{{
          item.title
          }}</span>
        <i class="menu-arrow" style="color: #0F5EA9"></i>
      </a>
      <div class="menu-submenu">
        <i class="menu-arrow"></i>
        <ul class="menu-subnav">
          <li class="menu-item menu-item-parent" aria-haspopup="true">
            <span class="menu-link">
              <span class="menu-text" [translate]="item.translate">{{
                item.title
                }}</span>
            </span>
          </li>
          <ng-container *ngFor="let sub of item.menus" [ngTemplateOutlet]="menu1LevelTemplate"
            [ngTemplateOutletContext]="{ item: sub }"></ng-container>
        </ul>
      </div>
    </li>
  </ng-container>
  <!-- end::if has submenu -->
</ng-template>