:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }

  .menu-item .menu-link .menu-text {
    color: #201f1e;
  }

  //burger menu
  .logo {
    line-height: 0.4;
    color: white;

    .top {
      margin-left: 3px;
    }

    .bottom {
      font-size: 7px;
      text-align: center;
    }
  }

  .menu-section {
    background-color: #eff2fc;

    .menu-text {
      color: #201f1e;
      text-transform: initial;
      font-size: 14px;
    }
  }

  .icon {
    max-width: 20px;
  }

  .arrow {
    // filter: invert(19%) sepia(95%) saturate(2662%) hue-rotate(197deg) brightness(55%) contrast(85%);
    margin-left: -2px;
    margin-right: 17px;
    
  }

  .menu-item.menu-item-active {

    .menu-link,
    .menu-link.active {
      background-color: transparent;

      .menu-text {
        color: #0070c0 !important;
        font-weight: bold;
      }

      .menu-icon {
        filter: invert(46%) sepia(68%) saturate(1770%) hue-rotate(182deg) brightness(74%) contrast(104%);
      }
    }
  }

  .menu-item .menu-submenu .menu-item.menu-item-open {
    .menu-link {
      background-color: transparent;

      // .menu-text.parent-level3:hover {
      //   color: #3699ff;
      //   text-decoration: underline;
      // }

      .menu-arrow,
      .menu-text {
        color: #201f1e;
      }

      .menu-bullet.menu-bullet-dot {
        span {
          background-color: #201f1e;
        }
      }
    }
  }
}

:host ::ng-deep #kt_aside_toggle {
  .close_ {
    display: block !important;
  }

  .logo {
    display: none !important;
  }

  &.active {
    .close_ {
      display: none !important;
    }

    .logo {
      display: block !important;
    }
  }
}

// :host ::ng-deep .svg-icon.menu-icon {
//   svg {
//     g {
//       [fill] {
//         fill: red;
//         stroke: red;
//       }
//     }
//   }
//   &:hover {
//     svg {
//       g {
//         [fill] {
//           fill: greenyellow;
//           stroke: greenyellow;
//         }
//       }
//     }
//   }
// }
