:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }
  
  // test hover aside icons
  :host ::ng-deep .svg-icon {
      svg:hover {
        g {
          [fill] {
            fill: greenyellow;
            stroke: greenyellow;
          }
        }
      }
  }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }

  //burger menu
  .logo {
    line-height: 0.9;
    color: white;

    .top {
      margin-left: 3px;
    }

    .bottom {
      font-size: 8px;
      text-align: center;
    }
  }

  .menu-section {
    background-color: #EFF2FC;
  }
}

:host ::ng-deep .svg-icon.menu-icon {
  svg {
    g {
      [fill] {
        fill: red;
        stroke: red;
      }
    }
  }

  &:hover {
    svg {
      g {
        [fill] {
          fill: greenyellow;
          stroke: greenyellow;
        }
      }
    }
  }
}
