:host ::ng-deep {
  .struktur-container {
    border: 1px solid #EDEBE9;

    .section-nav {
      width: 300px;
      border-right: 1px solid #EDEBE9;

      .nav-header {
        border-bottom: 1px solid #0070C0;
      }
    }
  }

  .tree-item {
    display: inline-flex !important;
    width: calc(100% - 24px);
  }

  .node-buttons {
    display: none;
    position: relative;
    top: -2px;

    .btn-my {
      padding: 0;
      margin: 0;
      height: 16px;
    }
  }

  .jstree-anchor.jstree-hovered .node-buttons,
  .jstree-anchor.jstree-clicked .node-buttons {
    display: inline-block;
  }
}
