<div class="background-search" style="
    background-image: url('./assets/media/images/struktur_bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    height: 185px;
    fill:solid rgb(0,0,0)
"></div>
<div class="card card-custom gutter-b mx-15 mt-n50" style="overflow-x: hidden;">
    <div class="card-body d-flex flex-column flex-grow flex-wrap">
        <div>Struktur Menu</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</div>

        <div class="struktur-container d-flex flex-row flex-column-fluid rounded-sm">
            <div class="section-nav d-flex flex-column flex-row-auto">
                <div class="nav-header d-flex flex-row justify-content-between">
                    <div>
                        PAKAR<br>
                        PANDUAN KERJA DIGITAL
                    </div>
                    <a class="btn btn-xs btn-light-success btn-icon"><i class="fas fa-plus-circle"></i></a>
                </div>
                <ul class="navi navi-hover">
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer disabled">
                            Home Pakar
                        </a>
                    </li>
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer disabled">
                            Kembali ke myBCAportal
                        </a>
                    </li>
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer disabled">
                            Pakar Info
                        </a>
                    </li>
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer">
                            <span class="navi-text">Biaya dan wewenang</span>
                            <span class="navi-arrow"></span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer disabled">
                            Contents
                        </a>
                    </li>
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer disabled">
                            My Pages
                        </a>
                    </li>
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer">
                            <span class="navi-text">Aktifitas Cabang</span>
                            <span class="navi-arrow"></span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer">
                            <span class="navi-text">Produk Untuk Nasabah</span>
                            <span class="navi-arrow"></span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer">
                            <span class="navi-text">Aplikasi/Mesin</span>
                            <span class="navi-arrow"></span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer">
                            <span class="navi-text">Pakar PDF</span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a class="navi-link cursor-pointer">
                            <span class="navi-text">FAQ</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="section-body d-flex flex-column flex-row-fluid wrapperpt-0">
                <span>Silahkan Pilih Kategori Menu</span>
                <span>Produk Untuk Nasabah</span>
                <div id="kt_tree_5" class="tree-demo"></div>
            </div>
        </div>
    </div>
</div>