<div #comboBox class="combo-box d-flex align-items-center justify-content-between"
    [ngClass]="{ 'is-invalid': hasError}">
    <div class="text-muted text-ellipsis-1">{{selected.value || placeholder}}</div>
    <input type="text" [placeholder]="placeholder" required autocomplete="off" [value]="selected.text"
        style="display: none;">
    <button type="button" class="btn btn-xs btn-clean" (click)="$event.stopPropagation(); comboBoxDrop.open();">
        <i class="ki ki-arrow-down text-primary icon-xs"></i>
    </button>
</div>
<div ngbDropdown #comboBoxDrop="ngbDropdown" style="width: 100%; left:0px; top:-3px" (openChange)="openChange($event)"
    display="static">
    <button style="display: none;" ngbDropdownAnchor (focus)="comboBoxDrop.open()"></button>
    <div ngbDropdownMenu class="combo-box-dropdown">
        <!-- <ngb-accordion class="accordion-light accordion-light-borderless accordion-combo-box" [destroyOnHide]="false"
            (hidden)="onHidden($event)" (shown)="onShow($event)">
            <ngb-panel *ngFor="let content of options.value">
                <ng-template ngbPanelHeader>
                    <div class="card-title d-flex align-items-center justify-content-between">
                        <div>
                            <button ngbPanelToggle class="btn btn-link btn-xs">
                                <i class="ki ki-arrow-next text-primary icon-xs "></i></button>
                            <span (click)="onClick(content)">{{content.text}}</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>

                </ng-template>
            </ngb-panel>
        </ngb-accordion> -->
        <div [id]="'tree-cbx-'+randomId" class="combo-box-tree tree-demo"></div>
    </div>
</div>