<div #comboBox class="combo-box d-flex align-items-center justify-content-between"
    [ngClass]="{ 'is-invalid': hasError, 'disabled': disabled}" (click)="toogleDropdown($event)">
    <input type="text" [placeholder]="placeholder" class="input-show" [value]="selected.value" readonly
        [disabled]="disabled">
    <input type="text" [placeholder]="placeholder" required autocomplete="off" [value]="selected.text"
        style="display: none;">
    <button type="button" class="btn btn-xs btn-clean" (click)="toogleDropdown($event)" [disabled]="disabled">
        <i class="ki ki-arrow-down text-primary icon-xs"></i>
    </button>
</div>
<div ngbDropdown #comboBoxDrop="ngbDropdown" style="width: 100%; left:0px; top:-3px" (openChange)="openChange($event)"
    display="static">
    <button style="display: none;" ngbDropdownAnchor (focus)="comboBoxDrop.open()"></button>
    <div ngbDropdownMenu class="combo-box-dropdown">
        <div [id]="'tree-cbx-'+randomId" class="combo-box-tree tree-demo"></div>
    </div>
</div>