.btn {
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: stretch;
  position: absolute;
  width: 215px;
  height: 60px;
  opacity: 20%;
  border-radius: 100px;
  background-blend-mode: overlay;
  top: 715px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}
